@if index($uso-classes, form) {
/*
================================================================================
FORMULÁRIOS | INPUT[TEXT], TEXTAREA
================================================================================
*/
}

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// form_input_texto.scss
// Criado em: 09/11/2015
// Última alteração em: 21/07/2016
// -----------------------------------------------------------------------------
// Este arquivo formata os inputs de texto e sua relação com o label, e demais
// elementos (placeholder, etc).
// Inputs similares ao de texto também fazem uso dessa classe (exemplos:
// data, e-mail, etc)
// ----------------------------------------------------------------------------
// Changelog
// 21/07/2016 | Alterado o campo obrigatório de padding-left para text-indente
//              (dava problema com a largura do formulário)
// 11/07/2016 | Acrescentado fundo tranparente somente para o tipo-1 e tipo-2
// 06/07/2016 | Acréscimo de cor específica para o label
//              Acréscimo de campo obrigatório
// 13/05/2016 | Corrigo destaque no label quando há foco no input
// 11/05/2016 | Acréscimo do arquivo das configurações no modo "default" para
//              evitar incompatibilidade no caso de atualizações do config.scss
// 17/03/2016 | Retirado cursor: pointer do label
// 04/02/2016 | Agrupando labels para o arquivo final ficar melhor (agora o
//              mixin de label permite escrever o conteúdo do label)
//              Movida classe .form__ico para form_comum
// 22/01/2016 | Retirado placeholder para mixin
// 23/11/2015 | Alterado tipos para "tipo-x" ao invés de um nome diferente
// 							por tipo
// 17/11/2015 | Utilizada nova forma chamar as classes
//              Agrupados arquivos similares como o de data e busca)
//              Incluído elementos "flex" que estavam em "form_tamanhos"
// 10/11/2015 | Alterada forma de pensar. Ao invés de ser "automático" (com
//              placeholder/mixin, criei uma classe própria pra melhorar a
//              performance do CSS final)
// 09/11/2015 | Criação do arquivo
// =============================================================================

// =============================================================================
// CONFIG
// =============================================================================
$form-tipo: tipo-1 !default; // 3 tipos
$label-tipo: flutuante !default; // flutuante | colado
$form-radio-check-personaliza: sim !default;

// =============================================================================
// PLACEHOLDERS | LABEL
// =============================================================================
@mixin form-texto__label--basico {
  @include order(-1);
  font-weight: bold;
  // cursor: pointer;
  color: cor(formulario, label);
}
@mixin form-texto__label($tipo) {
  @if $tipo == flutuante {
    @include flex-wrap;
    label {
      @include form-texto__label--basico;
      width: 100%;
      @content;
    }
  }
  @else if $tipo == colado {
    @include align-items(stretch);
    label {
      @include form-texto__label--basico;
      padding: 0 .65em;
      @content;
    }
  }
}

// =============================================================================
// MIXIN | INPUT, TEXTAREA
// =============================================================================
@mixin form-texto__field--borda-inferior(
    $tipo,
    $cor: cor(formulario),
    $cor-destaque: cor(formulario, ativo)
  ) {
  @include form-texto__label($label-tipo) {
    @if $label-tipo == "colado" {
      border-bottom: 1px $tipo $cor;
    }
  }
  input, textarea {
    @include form__caixa-texto;
    border: 0;
    border-bottom: 1px $tipo $cor;
    background: transparent;
    // FOCO
    &:focus {
      border-bottom-color: $cor-destaque;
      & ~ label {
        color: $cor-destaque;
        @if $label-tipo == "colado" {
          border-bottom-color: $cor-destaque;
        }
      }
    }
    // OBRIGATÓRIO
    &:required {
      background-image: url("data:image/svg+xml;utf8,#{$svg-obrigatorio}");
      background-repeat: no-repeat;
      background-size: rem($form-obrigatorio) * .9;
      text-indent: rem($form-obrigatorio);
      box-shadow: 0 3px 0 lighten($svg-placeholder, 15%);
      // QUANDO PREENCHE O CAMPO OBRIGATÓRIO
      &:valid {
        background-image: none;
        text-indent: 0;
        box-shadow: none;
      }
    }
  }
}

// =============================================================================
// PLACEHOLDERS | TIPOS
// =============================================================================
@mixin form-texto($tipo) {
  @include form-base(flex);
  // ---------------------------------------------------------------------------
  // TIPO 1
  // ---------------------------------------------------------------------------
  @if $tipo == tipo-1 {
    @include  form-texto__field--borda-inferior(dotted);
  }
  // ---------------------------------------------------------------------------
  // TIPO 2
  // ---------------------------------------------------------------------------
  @else if $tipo == tipo-2 {
    @include  form-texto__field--borda-inferior(solid);
  }
  // ---------------------------------------------------------------------------
  // TIPO 3
  // ---------------------------------------------------------------------------
  @else if $tipo == tipo-3 {
    @include form-texto__label($label-tipo) {
      @if $label-tipo == "colado" {
        background: cor(formulario);
        color: cor(texto, claro);
        line-height: 2.2;
      }
    }
    input, textarea {
      @include form__caixa-texto;
      border: 1px solid cor(formulario);
      padding: .5em;
      &:focus {
        outline: 0;
        box-shadow: 0 0 3px cor(formulario);
      }
      &:focus ~ label {
        @if $label-tipo == "colado" {
          background: cor(formulario, ativo);
        }
        @else {
          color: cor(formulario, ativo);
        }
      }
      // OBRIGATÓRIO
      &:required {
        background-image: url("data:image/svg+xml;utf8,#{$svg-obrigatorio}");
        background-repeat: no-repeat;
        background-position: .5em .5em;
        background-size: rem($form-obrigatorio);
        padding-left: em($form-obrigatorio) + 1em;
        outline: 2px solid lighten($svg-placeholder, 15%);
        // QUANDO PREENCHE O CAMPO OBRIGATÓRIO
        &:valid {
          background-image: none;
          padding-left: inherit;
          outline: 0;
        }
      }
    }
  }
}

// =============================================================================
// CLASSES
// =============================================================================
@if index($uso-classes, form) {
  .form-texto {
    @include form-texto($form-tipo);
  }
  .form__ico {

  }
  .form-texto--label-inverso {
    // pensar num nome melhor
  }
}
