@if index($uso-classes, botao) {
/*
================================================================================
FORMULÁRIO | BOTÕES
================================================================================
*/
}

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// form_botoes.scss
// Criado em: 15/01/2015
// Última alteração em: 25/08/2016
// -----------------------------------------------------------------------------
// Definições de botões para formulários
// -----------------------------------------------------------------------------
// Changelog
// 25/08/2016 | Ajustes para quando o .bt estiver na em um link
// 14/07/2016 | Padronizado o tamanho do botão para 1em
// 24/06/2016 | Retirado o tamanho da fonte do botão e acrescentado caso seja
//              filho de um <p> (o botão estava ficando muito grande quando não
//              precisava)
// 11/05/2016 | Acréscimo do arquivo das configurações no modo "default" para
//              evitar incompatibilidade no caso de atualizações do config.scss
// 05/05/2016 | Arrumado problema de borda
// 13/04/2016 | Adequado à nova paleta de cores
// 05/02/2016 | Ajustado o tamanho do botão
//              Acrescando arredondamento de botão
// 21/01/2016 | Era pra isso aqui usar mixins. Não é prático.
// 23/11/2015 | Botões de status
//              Utilizada nova forma chamar as classes
// 13/11/2015 | Arquivo reescrito usando os novos padrões
// 15/01/2015 | Criação do arquivo
// =============================================================================
// OBSERVAÇÃO:
// Todos os arquivos do Front-Alego estão fazendo uso ostensivo de mixins no
// lugar de placeholders. Devido à complexidade desse arquivo em particular
// o uso de placeholders é mais fácil de gerenciar
// =============================================================================

// =============================================================================
// CONFIG
// =============================================================================
$botao-tipo: tipo-5 !default; // 6 tipos
$botao-secundario: $botao-tipo !default; // 6 tipos + $botao-tipo
$botao-sombra-colorida: sim !default;
$botao-arredondamento: não !default;

// =============================================================================
// VARIÁVEIS
// =============================================================================
$bt-sombra: if($botao-sombra-colorida == "sim", 0 0 6px, $sombra-botao);

// =============================================================================
// MIXINS
// =============================================================================
@mixin bt-claro($cor) {
  background: $cor;
  &:hover {
    background: tint($cor, 75%);
  }
}
@mixin bt-claro-gradient($cor) {
  background: linear-gradient(to top, $cor, tint($cor, 50%));
  &:hover {
    background: tint($cor, 75%);
  }
}
@mixin bt-escuro-gradient($cor, $cor-escura) {
  background: linear-gradient(to top, $cor, tint($cor, 25%));
  text-shadow: $sombra-texto-relevo;
  &:hover {
    background: linear-gradient(to bottom, $cor-escura, tint($cor-escura, 25%));
  }
}
// =============================================================================
// PLACEHOLDERS | BASE
// =============================================================================
%bt-base {
  padding: .5em 1em;
  color: cor(botao);
  cursor: pointer;
  border: 1px solid;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.5s ease 0s;
  font-size: $tamanho-fonte-padrao;
  @if $botao-arredondamento != não {
    border-radius: $rd;
  }
  @at-root {
    a#{&} {
      text-decoration: none;
      text-align: center;
    }
  }
}
// =============================================================================
// PLACEHOLDERS | TIPO SIMPLES (tipo-1 e tipo-2)
// =============================================================================
%bt-simples-base {
  @extend %bt-base;
  background: transparent;
  &:hover {
    box-shadow: $bt-sombra;
  }
}
// BOTÃO PRINCIPAL
// -----------------------------------------------------------------------------
%bt-tipo-1 {
  @extend %bt-simples-base;
  border-color: transparent;
}
%bt-tipo-2 {
  @extend %bt-simples-base;
  border-color: cor(botao);
  &:hover {
    outline: 1px solid;
  }
}
// BOTÃO SECUNDÁRIO
// -----------------------------------------------------------------------------
%bt-tipo-1--secundario {
  @extend %bt-tipo-1;
  color: cor(botao, secundario);
  border-color: cor(botao, secundario);
  &:hover {
    color: cor(botao, secundario);
  }
}
%bt-tipo-2--secundario {
  @extend %bt-tipo-2;
  color: cor(botao, secundario);
  border-color: cor(botao, secundario);
  &:hover {
    color: cor(botao, secundario);
  }
}
// BOTÃO STATUS
// -----------------------------------------------------------------------------
@each $status in $botoes-status {
  %bt-tipo-1--#{$status} {
    @extend %bt-tipo-1;
    color: paleta(#{$status});
    border-color: paleta(#{$status});
    &:hover {
      color: paleta(#{$status});
    }
  }
  %bt-tipo-2--#{$status} {
    @extend %bt-tipo-2;
    color: paleta(#{$status});
    border-color: paleta(#{$status});
    &:hover {
      color: paleta(#{$status});
    }
  }
}
// =============================================================================
// PLACEHOLDERS | TIPO CLARO (tipo 3 e 4)
// =============================================================================
%bt-claro-base {
  @extend %bt-base;
  border-color: cor(botao);
  &:hover {
    box-shadow: $bt-sombra;
  }
}
// BOTÃO PRINCIPAL
// -----------------------------------------------------------------------------
%bt-tipo-3 {
  @extend %bt-claro-base;
  @include bt-claro(cor(botao, claro));
}
%bt-tipo-4 {
  @extend %bt-claro-base;
  @include bt-claro-gradient(cor(botao, claro));
}
// BOTÃO SECUNDÁRIO
// -----------------------------------------------------------------------------
%bt-tipo-3--secundario {
  @extend %bt-claro-base;
  @include bt-claro(cor(botao, secundario-claro));
  color: cor(botao, secundario-escuro);
  border-color: cor(botao, secundario-escuro);
  &:hover {
    color: cor(botao, secundario-escuro);
  }
}
%bt-tipo-4--secundario {
  @extend %bt-claro-base;
  @include bt-claro-gradient(cor(botao, secundario-claro));
  color: cor(botao, secundario-escuro);
  border-color: cor(botao, secundario-escuro);
  &:hover {
    color: cor(botao, secundario-escuro);
  }
}
// BOTÃO STATUS
// -----------------------------------------------------------------------------
@each $status in $botoes-status {
  %bt-tipo-3--#{$status} {
    @extend %bt-claro-base;
    @include bt-claro(cor-status(#{$status}, claro, 50%));
    color: cor-status(#{$status}, escuro, 40%);
    border-color: cor-status(#{$status}, escuro, 40%);
    &:hover {
      color: cor-status(#{$status}, escuro, 40%);
    }
  }
  %bt-tipo-4--#{$status} {
    @extend %bt-claro-base;
    @include bt-claro-gradient(cor-status(#{$status}, claro, 50%));
    color: cor-status(#{$status}, escuro, 40%);
    border-color: cor-status(#{$status}, escuro, 40%);
    &:hover {
      color: cor-status(#{$status}, escuro, 40%);
    }
  }
}
// =============================================================================
// PLACEHOLDERS | TIPO ESCURO (Tipo 5 e 6)
// =============================================================================
%bt-escuro-base {
  @extend %bt-base;
  color: cor(texto, claro);
}
// BOTÃO PRINCIPAL
// -----------------------------------------------------------------------------
%bt-tipo-5 {
  @extend %bt-escuro-base;
  background: cor(botao);
  border-color: cor(botao);
  &:hover {
    background: cor(botao, escuro);
    color: cor(texto, claro);
  }
}
%bt-tipo-6 {
  @extend %bt-escuro-base;
  @include bt-escuro-gradient(cor(botao), cor(botao, escuro));
  border-color: cor(botao, escuro);
  &:hover {
    color: cor(texto, claro);
  }
}
// BOTÃO SECUNDÁRIO
// -----------------------------------------------------------------------------
%bt-tipo-5--secundario {
  @extend %bt-escuro-base;
  background: cor(botao, secundario);
  border-color: cor(botao, secundario);
  &:hover {
    background: cor(botao, secundario-escuro);
    border-color: cor(botao, secundario-escuro);
    color: cor(texto, claro);
  }
}
%bt-tipo-6--secundario {
  @extend %bt-escuro-base;
  @include bt-escuro-gradient(cor(botao, secundario), cor(botao, secundario-escuro));
  border-color: cor(botao, secundario-escuro);
  &:hover {
    color: cor(texto, claro);
  }
}
// BOTÃO STATUS
// -----------------------------------------------------------------------------
@each $status in $botoes-status {
  %bt-tipo-5--#{$status} {
    @extend %bt-escuro-base;
    background: cor-status(#{$status}, escuro, 10%);
    border-color: cor-status(#{$status}, escuro, 10%);
    &:hover {
      background: cor-status(#{$status}, escuro, 20%);
      border-color: cor-status(#{$status}, escuro, 20%);
      color: cor(texto, claro);
    }
  }
  %bt-tipo-6--#{$status} {
    @extend %bt-escuro-base;
    @include bt-escuro-gradient(cor-status(#{$status}, escuro, 10%), cor-status(#{$status}, escuro, 20%));
    border-color: cor-status(#{$status}, escuro, 30%);
    &:hover {
      color: cor(texto, claro);
    }
  }
}
// =============================================================================
// CLASSE
// =============================================================================
@if index($uso-classes, botao) {
  .bt {
    @extend %bt-#{$botao-tipo};
  }
  @each $status in $botoes-status {
    .bt--#{$status} {
      @extend %bt-#{$botao-secundario}--#{$status};
    }
  }
  @if index($uso-classes, botao-secundario) {
    .bt--secundario {
      @if $botao-tipo == $botao-secundario {
        @extend %bt-#{$botao-secundario}--secundario;
      } @else {
        @extend %bt-#{$botao-secundario};
      }
    }
  }
}
