@if index($uso-classes, loading) {
/*
================================================================================
ABAS
================================================================================
*/
}
// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// loading.scss
// Criado em: 18/08/2016
// -----------------------------------------------------------------------------
// Definições padrão de loading
// -----------------------------------------------------------------------------
// Changelog
// 18/08/2016 | Criado o arquivo
// =============================================================================

// =============================================================================
// CLASSE
// =============================================================================
@if index($uso-classes, loading) {
  .loading {
    @include overlay;
    display: flex;
    background: fade-out(cor(fundo, escuro), .05);
    color: cor(texto, claro);
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    z-index: z(loading);
    pointer-events: inherit;
    cursor: progress;
    img {
      width: 1em;
      margin-right: .5em;
    }
  }
}
