@if index($uso-classes, paginacao) {
/*
================================================================================
PAGINAÇÃO
================================================================================
*/
}

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// paginacao.scss
// Criado em: 07/04/2015
// Última alteração: 13/09/2016
// -----------------------------------------------------------------------------
// Definição da paginação. Formata o tipo padrão gerado pelo Rails.
// -----------------------------------------------------------------------------
// Changelog
// 13/09/2016 | Atualizado para angular
// 							Acrescentada opção de arredondar a borda (tipo-2)
// 08/09/2016 | Conteúdo comum vai direto no mixin
// 14/07/2016 | Alteração da fonte padrão de "rem" para "em"
// 11/05/2016 | Acréscimo do arquivo das configurações no modo "default" para
//              evitar incompatibilidade no caso de atualizações do config.scss
// 18/04/2016 | Retirada a cor de fundo o item para melhor se adequar a outros
// 							temas
// 26/01/2016 | Substituídos placeholders por mixins
// 03/12/2015 | Reduzida a paleta para 3 elementos
// 23/11/2015 | Alterado tipos para "tipo-x" ao invés de um nome diferente
// 							por tipo
// 17/11/2015 | Utilizada nova forma chamar as classes
// 20/10/2015 | Inclusão de arquivo separado para o sistema
// 						  Configurações básicas transferidas para base/config.scss
// 21/08/2015 | Colocado dentro do padrão. Usando Flexbox
// 07/04/2015 | Criação do básico para trabalhar
// =============================================================================

// =============================================================================
// CONFIG
// =============================================================================
$paginacao-tipo: tipo-1 !default; // 2 tipos
$paginacao-posicao: center !default;
$paginacao-fonte: .75em !default;
$paginacao-arredondamento: não !default;

// =============================================================================
// VARIÁVEIS
// =============================================================================
$paginacao-padding: ($paginacao-fonte * .4) ($paginacao-fonte * 1);

// =============================================================================
// MIXIN BASE
// =============================================================================
@mixin paginacao-base($tag) {
	// ---------------------------------------------------------------------------
	// ITEM GERAL
	// ---------------------------------------------------------------------------
	@if $tag == item {
		color: cor(paginacao);
	}
	// ---------------------------------------------------------------------------
	// ELEMENTO ATIVO
	// ---------------------------------------------------------------------------
	@else if $tag == ativo {
		font-weight: bold;
	}
	// ---------------------------------------------------------------------------
	// NAVEGAÇÃO
	// ---------------------------------------------------------------------------
	@else if $tag == navegacao {
		font-size: .95em;
	}
	// ---------------------------------------------------------------------------
	// GAP
	// ---------------------------------------------------------------------------
	@else if $tag == gap {
		padding: $paginacao-padding;
		color: cor(paginacao, escura);
	}
	// ---------------------------------------------------------------------------
	// A
	// ---------------------------------------------------------------------------
	@else if $tag == a {
		@include link(bloco);
		color: cor(paginacao);
		padding: $paginacao-padding;
	}
	// ---------------------------------------------------------------------------
	// CURRENT
	// ---------------------------------------------------------------------------
	@else if $tag == current {
		z-index: 2;
		padding: $paginacao-padding;
	}
}

// =============================================================================
// MIXIN TIPOS
// =============================================================================
@mixin paginacao($tipo) {
	@include lista-sem-marcador(flex);
	@include justify-content($paginacao-posicao);
	@include align-items(flex-end);
	font-size: $paginacao-fonte;
	padding: .5rem 0;
	// ---------------------------------------------------------------------------
	// TIPO 1
	// ---------------------------------------------------------------------------
	@if $tipo == tipo-1 {
		// Itens gerais
		// -------------------------------------------------------------------------
		@at-root {
			%paginacao-item--tipo-1 {
				@include paginacao-base(item);
				border-bottom: 2px solid transparent;
			}
		}
		// CLASSES
		// -------------------------------------------------------------------------
		.gap {
			@extend %paginacao-item--tipo-1;
			@include paginacao-base(gap);
		}
		.prev, .first, .next, .last, > :first-child, > :last-child {
			@include paginacao-base(navegacao);
		}
		.current, .active a {
			@extend %paginacao-item--tipo-1;
			@include paginacao-base(ativo);
			@include paginacao-base(current);
			box-shadow: $sombra-botao;
			border-bottom-color: cor(paginacao);
			@if $paginacao-arredondamento != não {
				border-radius: $rd;
			}
		}
		.disabled a {
			cursor: not-allowed;
			opacity: .5;
			&:hover {
				border-bottom-color: transparent;
			}
		}
		// TAGS
		// -------------------------------------------------------------------------
		a {
			@extend %paginacao-item--tipo-1;
			@include paginacao-base(a);
			&:hover {
				@include paginacao-base(ativo);
				border-bottom-color: cor(paginacao);
			}
		}
	}
	// ---------------------------------------------------------------------------
	// TIPO 2
	// ---------------------------------------------------------------------------
	@else if $tipo == tipo-2 {
		// Itens gerais
		// -------------------------------------------------------------------------
		$borda-paginacao: 1px solid cor(paginacao, clara);
		@at-root {
			%paginacao-item--tipo-2 {
				@include paginacao-base(item);
				border-top: $borda-paginacao;
				border-bottom: $borda-paginacao;
			}
		}
		// CLASSES
		// -------------------------------------------------------------------------
		.gap {
			@extend %paginacao-item--tipo-2;
			@include paginacao-base(gap);
			border-left: $borda-paginacao;
			border-right: $borda-paginacao;
		}
		.prev, .first, .next, .last {
			@include paginacao-base(navegacao);
		}
		.prev, .first, .next, > :first-child {
			border-left: $borda-paginacao;
			@if $paginacao-arredondamento != não {
				border-radius: $rd 0 0 $rd;
			}
		}
		.next, .last, .prev, > :last-child {
			border-right: $borda-paginacao;
			@if $paginacao-arredondamento != não {
				border-radius: 0 $rd $rd 0;
			}
		}
		.active {
			z-index: 2;
		}
		.current, .active a {
			@extend %paginacao-item--tipo-2;
			@include paginacao-base(ativo);
			@include paginacao-base(current);
			outline: 2px solid cor(paginacao, escura);
			box-shadow: 0 0 8px cor(fundo, sombra);
			border-color: transparent;
			@if $paginacao-arredondamento != não {
				border-radius: $rd;
			}
		}
		.disabled a {
			cursor: not-allowed;
			color: fade-out(cor(paginacao), .5);
			&:hover {
				background: inherit;
				color: fade-out(cor(paginacao), .5);
			}
		}
		// TAGS
		// -------------------------------------------------------------------------
		a {
			@extend %paginacao-item--tipo-2;
			@include paginacao-base(a);
			&:hover {
				background: cor(paginacao, escura);
				color: cor(texto, claro);
			}
		}
	}
}

// =============================================================================
// CLASSE MONTADA
// =============================================================================
@if index($uso-classes, paginacao) {
	.pagination {
		@include paginacao($paginacao-tipo);
	}
}
