@if index($uso-classes, simbolos-svg) {
	/*
	================================================================================
	SÍMBOLOS EM SVG
	================================================================================
	*/
}

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// simbolos_svg.scss
// Criado em: 14/03/2016
// Última alteração: 31/03/2016
// -----------------------------------------------------------------------------
// Este arquivo formata os símbolos criados em SVG, com a inclusão de classes
// necessárias
// -----------------------------------------------------------------------------
// Changelog
// 31/03/2016 | Inclusão da opção de não usar as classes
// 14/03/2016 | Criado o arquivo
// =============================================================================

// =============================================================================
// MIXINS BÁSICOS DE CONFIGURAÇÃO
// =============================================================================
@mixin svg-ico($espaco: null) {
	width: 1em;
	height: 1em;
	fill: currentColor;
	@if $espaco != null {
		&--espaco {
			width: 1em;
			height: 1em;
			fill: currentColor;
			margin-right: $espaco;
		}
	}
}

// =============================================================================
// CLASSES
// =============================================================================
@if index($uso-classes, simbolos-svg) {
	.ico {
		@include svg-ico;
	}
	.ico--baixo {
		@include svg-ico;
		@include transform(rotate(90deg));
	}
	.ico--cima {
		@include svg-ico;
		@include transform(rotate(-90deg));
	}
	.ico--esquerda {
		@include svg-ico;
		@include transform(rotate(180deg));
	}
}
