/*!
================================================================================
NOME DO SISTEMA | admin
--------------------------------------------------------------------------------
Autor:
Data:
--------------------------------------------------------------------------------
Arquivo base criado por Alessandro Guarita em 04/03/2016
ASSEMBLEIA LEGISLATIVA DO ESTADO DE GOIÁS
Seção de Programação Web
================================================================================
*/

// =============================================================================
// CONFIGURAÇÕES
// =============================================================================
// CONFIG | Chamando os arquivos
// -----------------------------------------------------------------------------
@import "config/front-alego"; 
@import "extra/+import";

// -----------------------------------------------------------------------------
// CONFIG | Tipo do menu
// -----------------------------------------------------------------------------
$menu-tipo: vertical; // vertical ou horizontal

// -----------------------------------------------------------------------------
// CONFIG | Grids
// -----------------------------------------------------------------------------
$gd-header: $grid-qtd; // largura total
$gd-menu: 2;
$gd-aside: 2;
$gd-footer: $grid-qtd; // largura total


// -----------------------------------------------------------------------------
// CONFIG | Variáveis Local
// -----------------------------------------------------------------------------
$header-altura: 45px;
$footer-altura-min: rem(20);

// -----------------------------------------------------------------------------
// CONFIG | Cálculos
// -----------------------------------------------------------------------------
$gd-nav: if($menu-tipo == horizontal, $grid-qtd, $gd-menu); // substitua o último número pelas colunas que ocupa
$gd-main: $grid-qtd - $gd-aside - if($menu-tipo == horizontal, 0, $gd-nav); // reajusta conforme o resto
$main-altura-min: calc(100vh - #{$header-altura} - #{$footer-altura-min} - #{$margem} * 2);


/*
================================================================================
ADMIN | ÁREA INTERNA
================================================================================
*/

// =============================================================================
// ADMIN | HEADER
// =============================================================================
.header {
  @include display-flex;
  @include align-items(center);
  @include grid($gd-header);
  height: $header-altura;
  background: cor(fundo, claro);
  &__logo {
    @include flex(1);
  }
  &__usuario {
    padding: $margem / 2;
    > * + * {
      margin-left: $calha / 5;
    }
    a {
      text-decoration: none;
      color: cor(link, claro);
      &:hover {
        color: cor(link, claro-hover);
      }
    }
  }
}
// =============================================================================
// ADMIN | NAV (menu)
// =============================================================================
.nav {
  @include grid($gd-nav);
  &__menu {
    @include menu($menu-tipo);
    li {
      @if $menu-tipo == vertical { position: relative; }
      > a {
        @include link(bloco);
        padding: .2em .4em;
      }
    }
  }
  &__submenu {
    @include submenu($menu-tipo);
  }
}
// =============================================================================
// ADMIN | PRINCIPAL (main)
// =============================================================================
.main {
  @include grid($gd-main);
  min-height: $main-altura-min;
  padding: $margem;
}
// =============================================================================
// ADMIN | ASIDE
// =============================================================================
.aside {
  @include grid($gd-aside);
  padding: $margem;
}
// =============================================================================
// ADMIN | FOOTER
// =============================================================================
.footer {
  @include grid($gd-footer);
  min-height: $footer-altura-min;
  padding: $margem;
}

// =============================================================================
// VIEWS | Importa as views específicas do sistema
// =============================================================================
@import "views/+import";
