/*!
================================================================================
NOME DO SISTEMA | admin
--------------------------------------------------------------------------------
Autor:
Data:
--------------------------------------------------------------------------------
Arquivo base criado por Alessandro Guarita em 04/03/2016
ASSEMBLEIA LEGISLATIVA DO ESTADO DE GOIÁS
Seção de Programação Web
================================================================================
*/

// =============================================================================
// CONFIGURAÇÕES
// =============================================================================
// CONFIG | Chamando os arquivos
// -----------------------------------------------------------------------------
@import "config/base";

// -----------------------------------------------------------------------------
// CONFIG | Grids
// -----------------------------------------------------------------------------
$gd-header: $grid-qtd; // largura total
$gd-nav: 2;
$gd-aside: 2;
$gd-main: $grid-qtd - $gd-nav - $gd-aside; // reajusta conforme o resto
$gd-footer: $grid-qtd; // largura total

// -----------------------------------------------------------------------------
// CONFIG | Variáveis Local
// -----------------------------------------------------------------------------
$header-altura: 45px;
$footer-altura-min: rem(20);
$main-altura-min: calc(100vh - #{$header-altura} - #{$footer-altura-min} - #{$margem} * 2);

/*
================================================================================
LOGIN
================================================================================
*/
.login {
  // configuração da propriedade de fundo
  background: cor(fundo);
  width: 100vw;
  height: 100vh;
  // janela principal do login
  &__janela {
    @include centraliza-caixa;
    background: cor(fundo, x-claro);
    box-shadow: $sombra-card;
    // media query para telas pequenas (ocupa toda a área útil)
    @include media-tipo(pequeno, max) {
      @include display-flex;
      @include flex-wrap;
      @include flex-direction;
      @include align-content(stretch);
      width: 100vw;
      height: 100vh;
    }
  }
  // header do formulário
  &__header {
    margin-bottom: $margem;
  }
  // área central do login
  &__principal {
    @include display-flex;
    @include flex-wrap;
    margin-bottom: $margem;
    padding: $margem;
    // media query para telas pequenas
    @include media-tipo(pequeno, max) {
      @include flex(1);
      @include align-content(center);
    }
  }
  // área dos botões
  &__acoes {
    padding: $margem / 2;
    text-align: center;
  }
}
/*
================================================================================
ADMIN | ÁREA INTERNA
================================================================================
*/

// =============================================================================
// ADMIN | HEADER
// =============================================================================
.header {
  @include display-flex;
  @include align-items(center);
  @include grid($gd-header);
  height: $header-altura;
  background: cor(fundo, claro);
  &__logo {
    @include flex(1);
  }
  &__usuario {
    padding: $margem / 2;
    > * + * {
      margin-left: $calha / 5;
    }
    a {
      text-decoration: none;
      color: cor(link, claro);
      &:hover {
        color: cor(link, claro-hover);
      }
    }
  }
}
// =============================================================================
// ADMIN | NAV (menu)
// =============================================================================
.nav {
  @include grid($gd-nav);
  padding: $margem;
  &__menu {
    @include lista-sem-marcador; // se quiser fazer menu horizontal, inclua (flex)
    li {
      > a {
        @include link(bloco);
        padding: .2em .4em;
      }
    }
  }
}
// =============================================================================
// ADMIN | PRINCIPAL (main)
// =============================================================================
.main {
  @include grid($gd-main);
  min-height: $main-altura-min;
  padding: $margem;
}
// =============================================================================
// ADMIN | ASIDE
// =============================================================================
.aside {
  @include grid($gd-aside);
  padding: $margem;
}
// =============================================================================
// ADMIN | FOOTER
// =============================================================================
.footer {
  @include grid($gd-footer);
  min-height: $footer-altura-min;
  padding: $margem;
}
