// =============================================================================
// CORES DE STATUS
// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// cores_status.scss
// Criado em: 20/10/2015
// Última alteração em: 20/12/2017
// -----------------------------------------------------------------------------
// Aqui ficam as cores do status e cores básicas do sistema
// Este arquivo é importado diretamente no arquivo de função de cores
// -----------------------------------------------------------------------------
// CHANGELOG:
// 20/12/2017 | Arquivo mantido por retrocompatibilidade. Esta paleta agora está
// 							no arquivo de configuração do sistema para que possa ser
// 							personalizado conforme a necessidade e facilitar importação
// 13/04/2016 | Eliminada $paleta-padrao que agora faz parte de $paleta
// 							Alterado $cor-status puxando de $paleta
// 20/10/2015 | Criado o arquivo
// ==============================================================================

// =============================================================================
// ESTADOS DO SISTEMA
// =============================================================================
$cor-status: (
	erro: paleta(erro),
	urgente: paleta(erro),
	sucesso: paleta(ok),
	ok: paleta(ok),
	alerta: paleta(alerta),
	aviso: paleta(alerta),
	notice: paleta(cinza, claro, 30%),
);
