/*
================================================================================
FONTES
================================================================================
*/

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// fonts.scss
// Criado em: 13/01/2015
// Última modificação em: 19/01/2017
// -----------------------------------------------------------------------------
// Este arquivo puxa as fontes do sistema.
// No final são definidas as variáveis padrão pelos tipos de fonte (serifa,
// símbolo, etc)
// -----------------------------------------------------------------------------
// Changelog:
// 19/01/2017 | Inclusão do estado "default" nas variáveis
// 11/05/2016 | Mudado a forma como o condicional trabalha com a escolha de
//              fontes
// 12/04/2016 | Opção de usar fontes padrão do browser ou personalizadas no
//              arquivo config
// 14/03/2016 | A fonte de símbolos passa a ser opcional e está aqui para ter
//              retrocompatibilidade com arquivos antigos
// 13/01/2015 | Criado o arquivo
// =============================================================================

// =============================================================================
// CHAMANDO AS FONTES
// -----------------------------------------------------------------------------
// Puxa as fontes do sistema
// =============================================================================

//	Para usar esta fonte no computador, ela é a Patua One
$diretorio: "fontes/";

@if index($uso-classes, fonte-serifa) {
  @font-face {
    font-family: 'serifa-titulo';
    src: url('#{$diretorio}serifatitulo-regular-webfont.eot');
    src: url('#{$diretorio}serifatitulo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$diretorio}serifatitulo-regular-webfont.woff') format('woff'),
    url('#{$diretorio}serifatitulo-regular-webfont.ttf') format('truetype'),
    url('#{$diretorio}serifatitulo-regular-webfont.svg#serifa-titulo') format('svg');
    font-weight: bold;
    font-style: normal;

  }
}

@if index($uso-classes, fonte-sans-serif) {
  @font-face {
    font-family: 'OpenSans';
    src: url('#{$diretorio}OpenSans-Regular-webfont.eot');
    src: url('#{$diretorio}OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$diretorio}OpenSans-Regular-webfont.woff') format('woff'),
    url('#{$diretorio}OpenSans-Regular-webfont.ttf') format('truetype'),
    url('#{$diretorio}OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

  }

  @font-face {
    font-family: 'OpenSans';
    src: url('#{$diretorio}OpenSans-Italic-webfont.eot');
    src: url('#{$diretorio}OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$diretorio}OpenSans-Italic-webfont.woff') format('woff'),
    url('#{$diretorio}OpenSans-Italic-webfont.ttf') format('truetype'),
    url('#{$diretorio}OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;

  }

  @font-face {
    font-family: 'OpenSans';
    src: url('#{$diretorio}OpenSans-Bold-webfont.eot');
    src: url('#{$diretorio}OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$diretorio}OpenSans-Bold-webfont.woff') format('woff'),
    url('#{$diretorio}OpenSans-Bold-webfont.ttf') format('truetype'),
    url('#{$diretorio}OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-style: normal;

  }

  @font-face {
    font-family: 'OpenSans';
    src: url('#{$diretorio}OpenSans-BoldItalic-webfont.eot');
    src: url('#{$diretorio}OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$diretorio}OpenSans-BoldItalic-webfont.woff') format('woff'),
    url('#{$diretorio}OpenSans-BoldItalic-webfont.ttf') format('truetype'),
    url('#{$diretorio}OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

  }
}

@if index($uso-classes, simbolos) {
  @font-face {
    font-family: 'font-alego';
    src:url('#{$diretorio}font-alego.eot');
    src:url('#{$diretorio}font-alego.eot?#iefix') format('embedded-opentype'),
    url('#{$diretorio}font-alego.woff') format('woff'),
    url('#{$diretorio}font-alego.ttf') format('truetype'),
    url('#{$diretorio}font-alego.svg#font-alego') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
