@if index($uso-classes, form) {
/*
================================================================================
FORMULÁRIOS | FILE
================================================================================
*/
}
// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// form_arquivo.scss
// Criado em: 14/12/2016
// Alterado em: 13/02/2017
// -----------------------------------------------------------------------------
// Este arquivo formata os arquivos de input de arquivo. Para que o texto seja
// substituído por uma mensagem válida é necessário chamar o javascript
// input-file.js
// Este arquivo depende da existência do _form_texto.scss
// ----------------------------------------------------------------------------
// Changelog
// 13/02/2017 | Criação de classe para fundo de formulários
// 10/02/2017 | Correção do campo obrigatório
// 14/12/2016 | Criação do arquivo
// =============================================================================

// =============================================================================
// CONFIG
// =============================================================================
$form-tipo: tipo-1 !default; // 3 tipos
$label-tipo: flutuante !default; // flutuante | colado
$form-radio-check-personaliza: sim !default;
$form-fundo-campos: transparent !default;

// =============================================================================
// MIXIN | FORM-FILE__INFO
// =============================================================================
@mixin form-file__info {
  cursor: pointer;
  &:hover {
    opacity: .8;
  }

  // em form-comum
  @include flex(1);
  max-width: 100%;
  // em form-comum (form__caixa-texto)
  font-size: $tamanho-fonte-form;
  color: cor(texto);
}

// =============================================================================
// MIXIN | BORDA INFERIOR
// =============================================================================
@mixin form-file--borda-inferior(
    $tipo,
    $cor: cor(formulario),
    $cor-destaque: cor(formulario, ativo)
  ) {

  @include form-texto__label($label-tipo) {
    @if $label-tipo == "colado" {
      border-bottom: 1px $tipo $cor;
    }
  }

  &__info {
    @include form-file__info;
    line-height: 1.4; // alinhando melhor o espaço

    // em form-texto
    border: 1px $tipo transparent;
    border-bottom: 1px $tipo $cor;
    background: $form-fundo-campos;

  }

  // FOCO
  input:focus {
    ~ .form-file__info {
      border-bottom-color: $cor-destaque;

      & ~ label, & ~ .label {
        color: $cor-destaque;
        @if $label-tipo == "colado" {
          border-bottom-color: $cor-destaque;
        }
      }

    }
  }

  // OBRIGATÓRIO
  input:required {
    ~ .form-file__info {
      background-image: url("data:image/svg+xml;utf8,#{$svg-obrigatorio}");
      background-repeat: no-repeat;
      background-position: 0 .5em;
      background-size: rem($form-obrigatorio) * .9;
      text-indent: rem($form-obrigatorio);
      box-shadow: 0 3px 0 lighten($svg-placeholder-original, 15%);
  }

  // QUANDO PREENCHE O CAMPO OBRIGATÓRIO
  &:valid {
    ~ .form-file__info {
        background-image: none;
        text-indent: 0;
        box-shadow: none;
      }

    }

  }

}

// =============================================================================
// MIXIN | FILE
// =============================================================================
@mixin form-file($tipo) {
  @include form-base(flex);

  // Oculta o input file
  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  // ---------------------------------------------------------------------------
  // TIPO 1
  // ---------------------------------------------------------------------------
  @if $tipo == tipo-1 {
    @include form-file--borda-inferior(dotted);
  }

  // ---------------------------------------------------------------------------
  // TIPO 2
  // ---------------------------------------------------------------------------
  @if $tipo == tipo-2 {
    @include form-file--borda-inferior(solid);
  }

  // ---------------------------------------------------------------------------
  // TIPO 3
  // ---------------------------------------------------------------------------
  @if $tipo == tipo-3 {
    @include form-texto__label($label-tipo) {
      @if $label-tipo == "colado" {
        background: cor(formulario);
        color: cor(texto, claro);
        line-height: 2.2;
      }
    }

    &__info {
      @include form-file__info;
      border: 1px solid cor(formulario);
      padding: .5em;
    }

    input:focus {
      ~ .form-file__info {
        outline: 0;
        box-shadow: 0 0 3px cor(formulario);
      }
    }

    input:focus ~ label, &:focus ~ .label {
      ~ .form-file__info {

        @if $label-tipo == "colado" {
          background: cor(formulario, ativo);
        }
        @else {
          color: cor(formulario, ativo);
        }
      }

    }

    // OBRIGATÓRIO
    input:required {
      ~ .form-file__info {
        background-image: url("data:image/svg+xml;utf8,#{$svg-obrigatorio}");
        background-repeat: no-repeat;
        background-position: .5em .5em;
        background-size: rem($form-obrigatorio);
        padding-left: em($form-obrigatorio) + 1em;
        outline: 2px solid lighten($svg-placeholder-original, 15%);
      }
    }

    input:valid, input:focus {
      ~ .form-file__info {
        background-image: none;
        padding-left: .5em;
        outline: 0;
      }
    }

  }
}

// =============================================================================
// CLASSES
// =============================================================================
@if index($uso-classes, form) {
  .form-file {
    @include form-file($form-tipo);
  }
}
