@if index($uso-classes, form-erro) {
/*
================================================================================
FORMULÁRIOS | ERRO
================================================================================
*/
}
// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// form_comum.scss
// Criado em: 07/12/2016
// -----------------------------------------------------------------------------
// Este arquivo altera o formulário conforme tenha erro. Faz uso de angular
// -----------------------------------------------------------------------------
// Changelog
// 07/12/2016 | Criado o arquivo
// =============================================================================


// =============================================================================
// GERENCIAMENTO DE ERROS
// =============================================================================
.form--erro {
  // ---------------------------------------------------------------------------
  // BLOCO DE ERRO (texto)
  // ---------------------------------------------------------------------------
  &__bloco {
    display: none;
    color: cor-status(erro, escura, 20);
    padding: .25em .5em;
    font-weight: bold;
    background: cor-status(erro, clara, 90);
  }
  // ---------------------------------------------------------------------------
  // LABEL
  // ---------------------------------------------------------------------------
  .label, label {
    color: cor-status(erro);
  }
  // ---------------------------------------------------------------------------
  // ELEMENTOS DE FORMULÁRIO
  // ---------------------------------------------------------------------------
  input, select {
    border-color: cor-status(erro);
    border-width: 2px;
  }
  // ---------------------------------------------------------------------------
  // BLOCO (QUANDO TIVER ERRO)
  // ---------------------------------------------------------------------------
  & > &__bloco {
    display: block;
    width: 100%;
  }
}
