@if index($uso-classes, form) {
/*
================================================================================
FORMULÁRIOS | SELECT
================================================================================
*/
}

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// form_select.scss
// Criado em: 12/11/2015
// Última alteração em: 13/02/2017
// -----------------------------------------------------------------------------
// Este arquivo formata o select
// -----------------------------------------------------------------------------
// Changelog
// 13/02/2017 | Criação de variável para fundo de formulários
// 26/01/2017 | Mudada cor de fundo padrão (antes, branca) para transparente,
//              permitindo ficar em fundos diferentes
// 25/11/2016 | Desfeita a alteração anterior (a visualização ficou errada)
// 24/11/2016 | Correção: appearance não tem "none" e sim "normal"
// 17/08/2016 | Corrigida compatibilidade com o Firefox
// 21/07/2016 | Alterado o campo obrigatório de padding-left para text-indente
//              (dava problema com a largura do formulário)
// 14/07/2016 | Alterado tamanho de fontes
// 08/07/2016 | Acréscimo do campo de obrigatório
// 12/05/2016 | Arrumado problema que dava para clicar na seta e selecionar o
//              elemento
//              Retirado o span de ícone
// 11/05/2016 | Acréscimo do arquivo das configurações no modo "default" para
//              evitar incompatibilidade no caso de atualizações do config.scss
// 18/04/2016 | Alterada a cor do texto para mudar conforme tema
// 17/03/2016 | Corrigido posicionamento da seta.
// 15/03/2016 | Substituído seletor [class^="ico"] para .form__ico
// 04/02/2016 | Correção do select, que estava duplicado no arquivo final
// 03/02/2016 | Correção no uso do mixin
// 21/01/2016 | De placeholders para mixins
// 09/12/2015 | Inclusão do label
// 23/11/2015 | Alterado tipos para "tipo-x" ao invés de um nome diferente
// 							por tipo
// 17/11/2015 | Utilizada nova forma chamar as classes
//              Incluído elementos "flex" que estavam em "form_tamanhos"
// 12/11/2015 | Criação do arquivo
// =============================================================================

// =============================================================================
// CONFIG
// =============================================================================
$form-tipo: tipo-1 !default; // 3 tipos
$label-tipo: flutuante !default; // flutuante | colado
$form-radio-check-personaliza: sim !default;
$form-fundo-campos: transparent !default;

// =============================================================================
// SVG
// -----------------------------------------------------------------------------
// 1. Abra a imagem no Illustrator (está na pasta svg/avulsos/seta-select.svg)
//    ou crie um novo arquivo
// 2. Edite e exporte cada pedaço como SVG
// 3. Vá em http://petercollingridge.appspot.com/svg-optimiser/ para otimizar
// 4. Nos objetos que vão mudar de cor conforme o elemento pai, use
//    fill=currentColor
// 5. Vá em http://meyerweb.com/eric/tools/dencoder/ e cole o texto. Tire todos
//    os espaços
// 6. Clique em "encode"
// 7. Copie e cole o código na variáveis abaixo;
// 8. Selecione as quatro variáveis e mande substituir currentColor por %23#{$svg-cor}
//    SELECIONAR É IMPORTANTE PRA NÃO SUBSTITUIR AQUI NESTE COMENTÁRIO
// =============================================================================
$svg-seta-fina: "%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220.5%2032.5%2020%2020%22%3E%0A%20%20%3Cpath%20fill%3D%22%23#{$svg-cor}%22%20d%3D%22M7.8%2040.6c-0.2-0.2-0.5-0.2-0.8%200%20-0.2%200.2-0.2%200.5%200%200.8l3.2%203.1c0.2%200.2%200.6%200.2%200.8%200l3.2-3.1c0.2-0.2%200.2-0.5%200-0.7%20-0.2-0.2-0.5-0.2-0.8%200l-2.7%202.5%20-2.7-2.5V40.6z%22%2F%3E%0A%3C%2Fsvg%3E%0A";
$select-svg-bg: url("data:image/svg+xml;utf8,#{$svg-seta-fina}") no-repeat right center;
$select-gradiente: $select-svg-bg, linear-gradient(to left, cor(formulario, fundo) 20px, cor(formulario) 21px, $form-fundo-campos 21px);
$select-bg-simples: $select-svg-bg, $form-fundo-campos;

// =============================================================================
// MIXIN | SELECT
// =============================================================================
@mixin form-select--basico {
  @include appearance(none);
  border: 0;
  border-radius: 0;

  font-size: $tamanho-fonte-form;
  padding-right: 2em;
  color: cor(texto);
  @content;
}

// =============================================================================
// MIXIN | TIPOS
// =============================================================================
@mixin form-select($tipo) {

  // ---------------------------------------------------------------------------
  // TIPO 1
  // ---------------------------------------------------------------------------
  @if $tipo == tipo-1 {
    @include form-base(flex);

    select {
      @include form-select--basico {
        background: $select-bg-simples;
        border-bottom: $borda-form dotted;
        line-height: 1.45;

        // OBRIGATÓRIO
        &:required {
          background: url("data:image/svg+xml;utf8,#{$svg-obrigatorio}") no-repeat left center, $select-bg-simples;
          background-size: rem($form-obrigatorio) * .9, auto;
          text-indent: rem($form-obrigatorio);
          box-shadow: 0 3px 0 lighten($svg-placeholder-original, 15%);

          // QUANDO PREENCHE O CAMPO OBRIGATÓRIO
          &:valid {
            background: $select-bg-simples;
            text-indent: 0;
            box-shadow: none;
          }

        }

      }

    }

    @include form-texto__label($label-tipo) {
      @if $label-tipo == "colado" {
        border-bottom: 1px dotted cor(formulario);
      }
    }

  }

  // ---------------------------------------------------------------------------
  // TIPO 2
  // ---------------------------------------------------------------------------
  @else if $tipo == tipo-2 {
    @include form-base(flex);

    select {
      @include form-select--basico {
        background: $select-bg-simples;
        border-bottom: $borda-form solid;
        line-height: 1.45;

        // OBRIGATÓRIO
        &:required {
          background: url("data:image/svg+xml;utf8,#{$svg-obrigatorio}") no-repeat left center, $select-bg-simples;
          background-size: rem($form-obrigatorio) * .9, auto;
          padding-left: rem($form-obrigatorio);
          box-shadow: 0 3px 0 lighten($svg-placeholder-original, 15%);

          // QUANDO PREENCHE O CAMPO OBRIGATÓRIO
          &:valid {
            background: $select-bg-simples;
            padding-left: 0;
            box-shadow: none;
          }

        }

      }

    }

    @include form-texto__label($label-tipo) {
      @if $label-tipo == "colado" {
        border-bottom: 1px solid cor(formulario);
      }
    }

  }

  // ---------------------------------------------------------------------------
  // TIPO 3
  // ---------------------------------------------------------------------------
  @else if $tipo == tipo-3 {
    @include form-base(flex);

    select {
      @include form-select--basico {
        background: $select-gradiente;
        border: $borda-form solid;
        padding: .35em;
        padding-left: .2em;
        line-height: 1.6;

        @if $label-tipo == "colado" {
          &:focus ~ label {
            background: cor(formulario, ativo);
          }
        }

        // OBRIGATÓRIO
        &:required {
          background: url("data:image/svg+xml;utf8,#{$svg-obrigatorio}") no-repeat .2em center, $select-gradiente;
          background-size: rem($form-obrigatorio), auto, auto;
          padding-left: rem($form-obrigatorio) + .35rem;
          outline: 2px solid lighten($svg-placeholder-original, 15%);

          // QUANDO PREENCHE O CAMPO OBRIGATÓRIO
          &:valid {
            background: $select-gradiente;
            padding-left: inherit;
            outline: 0;
          }

        }

      }

    }

    @include form-texto__label($label-tipo) {
      @if $label-tipo == "colado" {
        background: cor(formulario);
        color: cor(texto, claro);
        line-height: 2.2;
      }
    }

  }

}

// =============================================================================
// CLASSES
// =============================================================================
@if index($uso-classes, form) {
  .form-select {
    @include form-select($form-tipo);
  }
}
