@if index($uso-classes, menu) {
/*
================================================================================
MENU
================================================================================
*/


// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// menu.scss
// Criado em: 21/12/2016
// Modificado em: 30/01/2017
// -----------------------------------------------------------------------------
// Definições básicas do menu
// -----------------------------------------------------------------------------
// Changelog
// 30/01/2017 | Retirada a animação por tempo indeterminado
// 16/01/2017 | Reformulação das classes
// 13/01/2017 | Sexta-feira 13
//              Incluída animação
// 21/12/2016 | Criado o arquivo
// =============================================================================

// =============================================================================
// CONFIG
// =============================================================================
$menu-titulo: sim !default;
$menu-animacao: não !default;
$menu-max: 10 !default;

// =============================================================================
// CLASSE BASE
// =============================================================================

// -----------------------------------------------------------------------------
// MENU
// -----------------------------------------------------------------------------
.menu {
  @include lista-sem-marcador;
  margin-bottom: $margem * 2;
  z-index: z(menu);
  @if $menu-animacao == sim {
    transition: $transition;
  }

  // ---------------------------------------------------------------------------
  // LINKS
  // ---------------------------------------------------------------------------
  a {
    cursor: pointer; // garante cursor até quando não possuir "href"
    display: block;
  }

  // ---------------------------------------------------------------------------
  // TÍTULO
  // ---------------------------------------------------------------------------
  &__titulo {
    // =========================================================================
    // se possuir título
    // =========================================================================
    @if $menu-titulo == sim {
      z-index: z(submenu);
      position: relative; // para que os itens fiquem abaixo dele

      // -----------------------------------------------------------------------
      // MENU | TÍTULO | span
      // -----------------------------------------------------------------------
      span {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      // -----------------------------------------------------------------------
      // MENU | TÍTULO | ico
      // -----------------------------------------------------------------------
      .ico {
        transition: $transition;
        transform: rotate(90deg); // mostra para baixo quando estiver aberto
      }

      // -----------------------------------------------------------------------
      // MENU | TÍTULO FECHADO
      // -----------------------------------------------------------------------
      &.fechado {

        // ---------------------------------------------------------------------
        // MENU | TÍTULO FECHADO | ico
        // ---------------------------------------------------------------------
        .ico {
          transform: rotate(0deg); // gira o ícone
        }

        // ---------------------------------------------------------------------
        // MENU | TÍTULO FECHADO | item
        // ---------------------------------------------------------------------
        ~ .menu__item {
          display: none;
        }

      }

    }

    // =========================================================================
    // se não não possuir título
    // =========================================================================
    @else {
      display: none;
    }

  }

  // ---------------------------------------------------------------------------
  // ITEM
  // ---------------------------------------------------------------------------
  &__item {

  }

}


}
