@if index($uso-classes, menu) {
/*
================================================================================
MENU
================================================================================
*/


// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// menu.scss
// Criado em: 21/12/2016
// Modificado em: 16/01/2017
// -----------------------------------------------------------------------------
// Definições básicas do menu
// -----------------------------------------------------------------------------
// Changelog
// 16/01/2017 | Reformulação das classes
// 13/01/2017 | Sexta-feira 13
//              Incluída animação
// 21/12/2016 | Criado o arquivo
// =============================================================================

// =============================================================================
// CONFIG
// =============================================================================
$menu-titulo: sim !default;
$menu-animacao: sim !default;
$menu-max: 10 !default;

// =============================================================================
// CLASSE BASE
// =============================================================================

// -----------------------------------------------------------------------------
// MENU
// -----------------------------------------------------------------------------
.menu {
  @include lista-sem-marcador;
  margin-bottom: $margem * 2;

  // ---------------------------------------------------------------------------
  // LINKS
  // ---------------------------------------------------------------------------
  a {
    cursor: pointer; // garante cursor até quando não possuir "href"
    display: block;
  }

  // ---------------------------------------------------------------------------
  // TÍTULO
  // ---------------------------------------------------------------------------
  &__titulo {
    // =========================================================================
    // se possuir título
    // =========================================================================
    @if $menu-titulo == sim {

      // -----------------------------------------------------------------------
      // MENU | TÍTULO | span
      // -----------------------------------------------------------------------
      span {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      // -----------------------------------------------------------------------
      // MENU | TÍTULO | ico
      // -----------------------------------------------------------------------
      .ico {
        transition: $transition;
        transform: rotate(90deg); // mostra para baixo quando estiver aberto
      }

      // -----------------------------------------------------------------------
      // MENU | ITEM (está aqui dentro pois não há formatação básica sozinho)
      // -----------------------------------------------------------------------
      ~ .menu__item {
        @if $menu-animacao == sim {
          transform: translateY(0);
          opacity: 1;
        }
      }

      // -----------------------------------------------------------------------
      // MENU | TÍTULO FECHADO
      // -----------------------------------------------------------------------
      &.fechado {

        // ---------------------------------------------------------------------
        // MENU | TÍTULO FECHADO | ico
        // ---------------------------------------------------------------------
        .ico {
          transform: rotate(0deg); // gira o ícone
        }

        // ---------------------------------------------------------------------
        // MENU | TÍTULO FECHADO | item
        // ---------------------------------------------------------------------
        ~ .menu__item {
          // -------------------------------------------------------------------
          // SE TIVER ANIMAÇÃO
          // -------------------------------------------------------------------
          @if $menu-animacao == sim {
            transition: all $ease-in-sine;
            display: none;
            opacity: 0;

            // -----------------------------------------------------------------
            // LOOP
            // -----------------------------------------------------------------
            @for $i from 1 through $menu-max {
              &:nth-of-type(#{$i}) {
                transform: translateY(-100% * $i);
              }
            }
          }

          // -------------------------------------------------------------------
          // SEM ANIMAÇÃO
          // -------------------------------------------------------------------
          @else {
            display: none;
          }
        }

      }

    }

    // =========================================================================
    // se não não possuir título
    // =========================================================================
    @else {
      display: none;
    }

  }

}


}
