@if index($uso-classes, menu) {
/*
================================================================================
MENU
================================================================================
*/


// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// menu.scss
// Criado em: 21/12/2016
// -----------------------------------------------------------------------------
// Definições básicas do menu
// -----------------------------------------------------------------------------
// Changelog
// 21/12/2016 | Criado o arquivo
// =============================================================================

// =============================================================================
// CONFIG
// =============================================================================
$menu-titulo: sim !default;
$menu-animacao: não !default;

// =============================================================================
// CLASSE BASE
// =============================================================================

// ---------------------------------------------------------------------------
// CONTAINER
// ---------------------------------------------------------------------------
.nav {

  // ---------------------------------------------------------------------------
  // MENU
  // ---------------------------------------------------------------------------
  &__menu {
    @include lista-sem-marcador;
    margin-bottom: $margem * 2;

    // -------------------------------------------------------------------------
    // MENU | titulo
    // -------------------------------------------------------------------------
    @if $menu-titulo != não {
      &__titulo {
        // -----------------------------------------------------------------------
        // MENU | titulo | span
        // -----------------------------------------------------------------------
        span {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        // -----------------------------------------------------------------------
        // MENU | titulo | ico
        // -----------------------------------------------------------------------
        .ico {
          transition: $transition;
          transform: rotate(90deg);
        }

        // -----------------------------------------------------------------------
        // TÍTULO FECHADO
        // -----------------------------------------------------------------------
        &.fechado {
          ~ .nav__menu__item {
            display: none;
          }
          .ico {
            transform: rotate(0deg);
          }
        }
      }
    }
    @else {
      &__titulo {
        display: none;
      }
    }

    // -------------------------------------------------------------------------
    // MENU | link
    // -------------------------------------------------------------------------
    a {
      cursor: pointer;
      display: block;
    }

  }
}


}
