@if index($uso-classes, tabela) {
/*
================================================================================
TABELAS
================================================================================
*/
}

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// tabelas.scss
// Criado em: 05/02/2015
// Última alteração: 01/02/2017
// -----------------------------------------------------------------------------
// Definições padrão das tabelas e classes modelo
// -----------------------------------------------------------------------------
// Changelog
// 01/02/2017 | Incluído o input file
// 18/01/2017 | Ajustes dos 3 tipos com as tabelas responsivas
// 17/01/2017 | Criação do tipo-3 (similar ao tipo-1, mas com borda ao redor e
// 							entre as colunas)
// 07/10/2016 | Retirada borda e fundo de .tab__acoes
// 							Alinhamento à direita de .tab__acoes
// 06/09/2016 | Reduzida a quantidade de cores necessárias para formar a tabela
// 							no arquivo de cores (retirado borda-clara e borda-escura que
// 							agora clarea/escurece a borda)
// 24/08/2016 | Retirada cor cinza da zebra no tipo-1
// 01/08/2016 | Acrescentado footer da tabela
// 							Ajustado tamanho do input
// 14/07/2016 | Alterado tamanho da fonte
// 01/07/2016 | Correção na especificidade do .tab__acoes no tipo
// 30/06/2016 | Corrigido problema com a última linha da tabela responsiva
// 20/06/2016 | Agora é possível escolher a orientação da tabela responsiva
// 16/05/2016 | Tabelas responsivas
// 11/05/2016 | Acréscimo do arquivo das configurações no modo "default" para
//              evitar incompatibilidade no caso de atualizações do config.scss
// 04/05/2016 | Título agora utiliza a $fonte-titulo ao invés de $fonte-serifa
// 18/04/2016 | Alteração para o novo esquema de cores
// 27/01/2016 | Alterado placeholder para mixin
// 07/01/2016 | Retirado "thead" do seletor "thead th". Agora é todos os <th>
// 							terão a mesma configuração básica, esteja no cabeçalho da tabela
// 							ou na primeira coluna
// 08/12/2015 | Retirada variável de borda
// 23/11/2015 | Alterado tipos para "tipo-x" ao invés de um nome diferente
// 							por tipo
// 17/11/2015 | Utilizada nova forma chamar as classes
// 04/11/2015 | Adaptado para o uso de BEM.
// 						 .tab-col--nome passou a ser apenas .col--nome
// 21/10/2015 | Adequado ao esquema de temas
// 20/10/2015 | Inclusão de tabelas do sistema
// 						  Configurações básicas transferidas para base/config.scss
// 16/10/2015 | Ajustes na tabela de formulário
// 15/10/2015 | Definição de link em bloco
// 15/09/2015 | Alterações estruturais, acréscimos de classes,
// 						  placeholder para a largura da coluna, uso de variáveis para
// 						  definições. Uso de uma classe de tabela, além de extensões
// 05/02/2015 | Criada a base do arquivo
// =============================================================================

// =============================================================================
// CONFIG
// =============================================================================
$tab-tipo: tipo-1 !default; // 3 tipos

$tab--zebra: sim !default;
$tab--responsiva: sim !default;
$tab--responsiva-tipo: tamanho !default; // tamanho | orientação

$tab-acao-link-bloco: não !default;
$tab-col--maximo: 600 !default;
$tab-resp-tamanho: pequeno !default; // pequeno | medio


// =============================================================================
// DEFINIÇÕES PADRÃO DE TABELA
// -----------------------------------------------------------------------------
// Definições básicas
// =============================================================================

@if index($uso-classes, tabela) {
	table {
		width: 100%;
	}

	th {
		font-family: $fonte-titulo;
		text-align: left;
		font-size: em(15, 14);
	}

	tr {
		color: cor(texto);
		tbody & {
			background: cor(fundo, x-claro);
		}
	}

	th {
		padding: .25em .45em;
		text-transform: uppercase;
	}

	td {
		line-height: 1;
		padding: .5em;
		font-size: em(12, 14);
	}
}

// =============================================================================
// MIXIN | Media query: orientação ou tamanho
// =============================================================================
@mixin tab-responsiva($tipo) {

	@if $tipo == "tamanho" {
		@include media-tipo($tab-resp-tamanho, max) {
			@content;
		}
	}

	@else {
		@media (orientation: portrait) {
			@content;
		}
	}
}

// =============================================================================
// MIXIN | BÁSICO
// =============================================================================
@mixin tab--opcoes($tag) {

	// ---------------------------------------------------------------------------
	// ZEBRA
	// ---------------------------------------------------------------------------
	@if $tag == zebra {
		tbody tr:nth-child(even) {
			background: cor(tabela, fundo);

			@if $tab--responsiva == "sim" {
				@include media-tipo($tab-resp-tamanho, max) {
					background: inherit;
				}

			}

		}
	}

	// ---------------------------------------------------------------------------
	// AÇÕES
	// ---------------------------------------------------------------------------
  @else if $tag == acoes {
    text-align: right;
  }

	// ---------------------------------------------------------------------------
	// FORM
	// ---------------------------------------------------------------------------
	@else if $tag == form {

		tbody tr:nth-child(even) {
			background: cor(fundo, x-claro);
		}

		// -------------------------------------------------------------------------
		// AJUSTES DA CÉLULA
		// -------------------------------------------------------------------------
		td {
			padding: 0 .5em;
			border-left: 1px solid tint(cor(tabela, borda), 25);

			&:last-child {
				border-right: 1px solid tint(cor(tabela, borda), 25);
			}

			// Caso esteja utilizando tab-responsiva
			@include tab-responsiva($tab--responsiva-tipo) {
				@if $tab--responsiva == "sim" {
					border: 1px solid tint(cor(tabela, borda), 25);
					border-bottom-width: 0;

					&:nth-child(even) {
						background: inherit;
					}

					&[data-title] {
						padding: .5em 1em;
					}

				}
			}

		}


		// -------------------------------------------------------------------------
		// AJUSTES DE FORMULÁRIO
		// -------------------------------------------------------------------------
		input:not([type="checkbox"]):not([type="radio"]),
		textarea,
		select {
			@include placeholder {
				color: tint(cor(tabela, borda), 25);
				text-transform: uppercase;
			}
			border: 0;
			background: cor(fundo, x-claro);
			width: 100%;
			padding: .5em;
			font-family: $fonte-sem-serifa;

			&:hover, &:focus {
				border-color: shade(cor(tabela, borda), 25);
				box-shadow: $sombra-padrao;
			}

		}

		select {
			@include appearance(none);
			background: $select-bg-simples;
		}

		input[type="file"] {
			width: 0.1px;
	    height: 0.1px;
	    opacity: 0;
	    overflow: hidden;
	    position: absolute;
	    z-index: -1;
		}

		.form-file__info {
			// all: inherit; // incompatível com IE/EDGE :(
			border-width: 0;
			text-transform: uppercase;
		}

	}

	// ---------------------------------------------------------------------------
	// RESPONSIVA
	// ---------------------------------------------------------------------------
	@include tab-responsiva($tab--responsiva-tipo) {
		@if $tab--responsiva == "sim" {

			@if $tag == responsiva {
				thead {
					display: none;
				}
			}

			@else if $tag == responsiva-tr {
				margin-bottom: $margem;
				display: block;
				@content;
				&:last-child {
					margin-bottom: 0;
				}
			}

			@else if $tag == responsiva-td {
				display: block;
				text-align: right;
				@content;

				@if $tab--zebra == "sim" {
					&:nth-child(even) {
						background: cor(tabela, fundo);
					}
				}
			}

			@else if $tag == responsiva-td-before {
				&::before {
					content: attr(data-title);
					float: left;
					@content;
				}
			}

			@else if $tag == responsiva-acoes {
				background: transparent;
				@content;
			}

			@else if $tag == responsiva-tfoot-tr {
				display: block;
				margin-top: $margem;
				@content;
			}

			@else if $tag == responsiva-tfoot-th {
				display: block;
				text-align: center;
				@content;
			}

			@else if $tag == responsiva-tfoot-td {
				display: block;
				@content;
			}
		}

	}

}

// =============================================================================
// MIXIN | TIPOS DE TABELA
// =============================================================================
@mixin tab($tipo) {

	// ---------------------------------------------------------------------------
	// TIPO 1
	// ---------------------------------------------------------------------------
	@if $tipo == tipo-1 {
		@include tab--opcoes(responsiva);
		thead tr {
			color: cor(texto, claro);
			background: cor(tabela, titulo);
			border-bottom: 2px solid tint(cor(tabela, borda), 25);
		}

		tbody tr {
			border-bottom: 1px solid tint(cor(tabela, borda), 25);
			@include tab--opcoes(responsiva-tr) {
				border-bottom-width: 2px;
			}
		}

		td {
			@include tab--opcoes(responsiva-td) {
				border-bottom: 1px solid tint(cor(tabela, borda), 25);
				&:last-child {
					border-bottom-width: 0;
				}
			}

			@include tab--opcoes(responsiva-td-before) {
				color: cor(tabela, titulo);
				font-weight: bold;
			}
		}

		&__acoes {
			@include tab--opcoes(acoes);
			@include tab--opcoes(responsiva-acoes);
		}

		tfoot {
			tr {
				background: cor(tabela, footer);
				border-bottom-width: 0;
				@include tab--opcoes(responsiva-tfoot-tr);
			}

			th, td {
				color: cor(texto, claro);
			}

			th {
				@include tab--opcoes(responsiva-tfoot-th) {
					background: cor(tabela, titulo);
				}
			}

			td {
				@include tab--opcoes(responsiva-tfoot-td) {

					&:nth-child(even) {
						background: tint(cor(tabela, footer), 25%);
					}

					&:before {
						color: cor(texto, claro);
					}

				}

			}

		}

	}

	// ---------------------------------------------------------------------------
	// TIPO 2
	// ---------------------------------------------------------------------------
	@else if $tipo == tipo-2 {
		border-bottom: 2px solid cor(tabela, borda);
		@include tab--opcoes(responsiva);

		thead tr {
			color: cor(tabela, titulo);
			border-bottom: 2px solid cor(tabela, borda);
		}

		tbody tr {
			border-bottom: 1px dashed cor(tabela, borda);
			&:last-of-type {
				border-bottom: none;
			}

			@include tab--opcoes(responsiva-tr) {
				border-bottom: 1px solid cor(tabela, borda);
				&:last-of-type {
					border-bottom: 1px solid cor(tabela, borda);
				}
			}
		}

		td {
			@include tab--opcoes(responsiva-td) {
				border-bottom: 1px dashed cor(tabela, borda);
				&:last-child {
					border-bottom-width: 0;
				}
			}

			@include tab--opcoes(responsiva-td-before) {
				color: cor(tabela, titulo);
				font-weight: bold;
			}
		}

		&__acoes {
			@include tab--opcoes(acoes);
			@include tab--opcoes(responsiva-acoes);
		}

		tfoot {
			tr {
				border-top: 1px solid cor(tabela, borda);
				@include tab--opcoes(responsiva-tfoot-tr) {
					border-top-width: 0;
				}
			}

			th, td {
				color: cor(tabela, footer);
			}

			th {
				@include tab--opcoes(responsiva-tfoot-th) {
					border-bottom: 1px solid cor(tabela, borda);
				}
			}

			td {
				@include tab--opcoes(responsiva-tfoot-td) {

					&:nth-child(even) {
						background: cor(fundo, x-claro);
					}

				}

			}
		}

	}

	// ---------------------------------------------------------------------------
	// TIPO 3
	// ---------------------------------------------------------------------------
	@else if $tipo == tipo-3 {
		@include tab--opcoes(responsiva);

		thead {
			border-right: 1px solid cor(tabela, titulo);
			border-left: 1px solid cor(tabela, titulo);

			tr {
				color: cor(texto, claro);
				background: cor(tabela, titulo);
			}

			th {
				border-left: 1px solid cor(tabela, borda);
			}
		}

		tbody {
			border-right: 1px solid cor(tabela, borda);
			border-left: 1px solid cor(tabela, borda);

			tr {
				border-bottom: 1px solid tint(cor(tabela, borda), 25);
				@include tab--opcoes(responsiva-tr) {
					border-bottom-width: 3px;
					margin-bottom: 0;
					&:first-child {
						border-top: 3px solid cor(tabela, borda);
					}
				}
			}
		}

		td {
			border-left: 1px solid cor(tabela, borda);
			@include tab--opcoes(responsiva-td) {
				border-bottom: 1px solid tint(cor(tabela, borda), 25);
				border-left-width: 0;
				&:last-child {
					border-bottom-width: 0;
				}
			}

			@include tab--opcoes(responsiva-td-before) {
				color: cor(tabela, titulo);
				font-weight: bold;
			}

			&:first-child {
				border-left-width: 0;
			}
		}

		&__acoes {
			@include tab--opcoes(acoes);
			@include tab--opcoes(responsiva-acoes);
		}

		tfoot {
			border-right: 1px solid cor(tabela, footer);
			border-left: 1px solid cor(tabela, footer);

			tr {
				background: cor(tabela, footer);
				border-bottom-width: 0;
				@include tab--opcoes(responsiva-tfoot-tr) {
					margin-top: 0;
				}
			}

			th, td {
				color: cor(texto, claro);
			}

			th {
				@include tab--opcoes(responsiva-tfoot-th) {
					background: cor(tabela, titulo);
				}
			}

			td {
				@include tab--opcoes(responsiva-tfoot-td) {

					&:nth-child(even) {
						background: tint(cor(tabela, footer), 25%);
					}

					&:before {
						color: cor(texto, claro);
					}

				}

			}

		}

	}

}

// =============================================================================
// CLASSES MONTADAS
// =============================================================================
@if index($uso-classes, tabela) {

	.tab {
		@include tab($tab-tipo);
		@if $tab--zebra == "sim" {
			@include tab--opcoes(zebra);
		}
		@if $tab--responsiva == "sim" {

		}
	}

	@if index($uso-classes, tabela-form) {
		.tab--form {
			@extend .tab;
			@include tab--opcoes(form);
		}
	}

}

// =============================================================================
// CLASSES INTERNAS
// =============================================================================
// Mixins
// -----------------------------------------------------------------------------
@mixin tab-acoes-icone($bloco: $tab-acao-link-bloco) {
	color: darken(cor(tabela, titulo), 5%);
	font-size: 1.1em;

	@if $bloco == sim {
		display: inline-block;
		padding: .5em;
		&:hover {
			color: cor(texto, clara);
			background: darken(cor(tabela, titulo), 5%);
		}

		@at-root {
			.tab__acoes {
				padding: 0;
			}
		}

	}

	@else if $bloco == não {
		margin-left: .5em;
		margin-right: .5em;
		&:hover {
			color: darken(cor(tabela, titulo), 25%);
		}

		@at-root {
			.tab__acoes {
				button {
					padding: 0;
				}
			}
		}

	}
}

@if index($uso-classes, tabela) {
	//	Título da coluna de ações
	.col--acoes {

	}

	//	Célula de ação
	.tab__acoes {
		a {
			@include tab-acoes-icone;
			text-decoration: none;
		}

		button {
			@include tab-acoes-icone;
			background: transparent;
			border: none;
			cursor: pointer;
			line-height: 1;
		}
	}

}

// =============================================================================
// TAMANHOS DE COLUNAS
// -----------------------------------------------------------------------------
// A função a seguir cria uma série de extends para usar com largura de
// colunas. Crie os nomes de classes com a base .tab-col--[nome-classe],
// exemplo: .tab-col--usuario
// =============================================================================
$tab-col--inicial: 10;
$tab-col--incremento: 1;
$i: $tab-col--inicial;

@while $i <= $tab-col--maximo {
	%largura-col-#{$i} {
		width: $i * rem(1);
	}
	%largura-col-min-#{$i} {
		min-width: $i * rem(1);
	}
	%largura-col-max-#{$i} {
		max-width: $i * rem(1);
	}
	$i: $i + $tab-col--incremento;
}

@each $col, $medida in $largura-tabela-col {
	.col--#{$col} {
		@extend %largura-col-#{$medida};
	}
}

@each $col, $medida in $largura-tabela-col-min {
	.col--#{$col} {
		@extend %largura-col-min-#{$medida};
	}
}

@each $col, $medida in $largura-tabela-col-max {
	.col--#{$col} {
		@extend %largura-col-max-#{$medida};
	}
}
