@if index($uso-classes, tab-mutante) {
/*
================================================================================
TABELA MUTANTE
--------------------------------------------------------------------------------
ATENÇÃO: Você encontrará pedaços desta tabela em TABELA e CARD
================================================================================
*/
}

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// tabela_mutante.scss
// Criado em: 28/09/2016
// Última alteração: 09/02/2017
// -----------------------------------------------------------------------------
// Tabela que muda conforme a escolha do usuário (altera entre tabela e cards)
// -----------------------------------------------------------------------------
// Changelog
// 09/02/2017 | Só mostra o título da célula se essa possuir o atributo
// 02/02/2017 | Aumento do line-height quando na forma de card para o uso de
//              ellipses
// 25/11/2016 | Comentado o word-wrap: pre. O parâmetro não existe e não sei o
//              motivo de ter colocado isso.
// 28/09/2016 | Criado o arquivo
// =============================================================================

// =============================================================================
// CONFIG
// =============================================================================
$modos-exibir: tabela, card !default;
$tab-mutante-qtd: (1, 1, 2, 4) !default;

// =============================================================================
// DEFINE O LABEL COMO ATIVO/INATIVO
// =============================================================================
@if index($uso-classes, tab-mutante) {
  @each $modo in $modos-exibir {

    // -------------------------------------------------------------------------
    // ESTADO INATIVO
    // -------------------------------------------------------------------------
    [for="modo-#{$modo}"] {
      opacity: .5;
      transition: opacity .4s $ease-in-cubic;
      &:hover {
        opacity: 1;
      }
    }

    // -------------------------------------------------------------------------
    // ESTADO ATIVO
    // -------------------------------------------------------------------------
    #modo-#{$modo} {
      // QUANDO SELECIONAR
      &:checked ~ {
        .barra-ferramentas [for="modo-#{$modo}"] {
          opacity: 1;
        }
      }
    }
  }

  // ===========================================================================
  // TAB--CARD
  // ---------------------------------------------------------------------------
  // Cria um grupo de tabs baseados na tabela
  // ===========================================================================
  .tab--card {

    // -------------------------------------------------------------------------
    // TAGS PUROS
    // -------------------------------------------------------------------------
    thead {
      display: none;
    }

    tbody {
      @include grupo-flex($tab-mutante-qtd); // 4 cards por linha em tela grande
    }

    tr {
      @extend .card;
    }

    td {
      @extend .card__item;
      padding: $pd / 2 $pd;
      line-height: 1.2;

      &[data-title]::before {
        content: attr(data-title) ": ";
        font-weight: bold;
      }

      &:nth-child(1) {
        @extend .card__titulo;
        padding: $margem;
        font-weight: bold;
        color: cor(texto, claro);

        &::before {
          display: none;
        }

        a {
          font-weight: inherit;
          color: inherit;
        }
      }

      &:nth-child(2) {
        border-top: 0;
      }
    }

    // -------------------------------------------------------------------------
    // CÉLULAS COM AÇÕES
    // -------------------------------------------------------------------------
    .tab__acoes {
      @extend .card__footer;

      > * {
        text-align: center;
        // word-wrap: pre; // investigar pq coloquei isso originalmente
      }

      &::before {
        display: none;
      }
    }
  }

  // ===========================================================================
  // TAB--MUTANTE
  // ===========================================================================

  // ---------------------------------------------------------------------------
  // MODO TABELA
  // ---------------------------------------------------------------------------
  #modo-tabela:checked ~ .tab--mutante {
    @extend .tab;
  }

  // ---------------------------------------------------------------------------
  // MODO CARDS
  // ---------------------------------------------------------------------------
  #modo-card:checked ~ .tab--mutante {
    @extend .tab--card;
  }

}
