// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// toaster.scss
// Criado em: 03/02/2017
// Alterado em: 07/02/2017
// -----------------------------------------------------------------------------
// Notificações do sistema. Aparecendo de baixo.
// Faz uso da biblioteca toastr: https://github.com/Foxandxss/angular-toastr
// -----------------------------------------------------------------------------
// Changelog
// 07/02/2017 | Correção da condicional
// 03/02/2017 | Criado o arquivo
// =============================================================================

// =============================================================================
// CONFIG
// =============================================================================
$toaster-tipo: tipo-1 !default; // 2 tipos
$toaster-biblioteca: toaster !default;
$toaster-tamanho-img: rem(50) !default;
$toaster-arredondamento: não !default;

// =============================================================================
// CORES TOASTER
// -----------------------------------------------------------------------------
// Lista as cores do status
// =============================================================================
$tipos-toaster: (
	success: sucesso,
	error: erro,
	warning: alerta,
	info: notice,
);

// =============================================================================
// MIXIN | Básico
// =============================================================================

@mixin toaster--base($tag) {

	// ---------------------------------------------------------------------------
	// TOAST (CONTAINER)
	// ---------------------------------------------------------------------------
	@if $tag == toast {
		font-family: $fonte-sem-serifa;
		box-shadow: $sombra-toaster;
		width: rem(300);
		padding: 1em;
		opacity: 1;
		margin: 0 0 $margem * 2;
		overflow: initial;
		color: cor(texto, claro);

		@if $toaster-tamanho-img != 0 {
			padding-left: $toaster-tamanho-img;
		}

		@if $toaster-arredondamento == sim {
			border-radius: $rd;
		}
		@else if $toaster-arredondamento != sim {
			border-radius: 0;
		}

	}
	// ---------------------------------------------------------------------------
	// .close
	// ---------------------------------------------------------------------------
	@else if $tag == close {
		transition: $transition;
		cursor: pointer;
		position: absolute;
		right: .5em;
		top: -1.2em;
		display: block;
		box-shadow: $sombra-toaster;
		background: cor(fundo, x-claro);
		font-weight: bold;
		font-size: .8em;
		line-height: 1;
		opacity: 1;
		padding: .5em;
	}
}
// =============================================================================
// MIXIN | TIPOS
// =============================================================================
@mixin toaster($tipo) {
	z-index: z(toaster);

	// ---------------------------------------------------------------------------
	// TIPO 1
	// ---------------------------------------------------------------------------
	@if $tipo == tipo-1 {

		.toast {
			@include toaster--base(toast);
			color: cor(texto, claro);
			text-shadow: $sombra-texto;
		}

		.toast-close-button {
			@include toaster--base(close);
			border: 0;
		}

		@each $classe, $cor in $tipos-toaster {

			.toast.toast-#{$classe} {
				background-color: cor-status($cor);
				background-image: url(asset-path("toastr-#{$classe}.svg")) !important;
				filter: brightness(100%);
				background-size: $toaster-tamanho-img / 2;

				.toast-close-button {
					color: cor-status($cor);
				}
			}
		}

	}

	// ---------------------------------------------------------------------------
	// TIPO 2
	// ---------------------------------------------------------------------------
	@else if $tipo == tipo-2 {

		.toast {
			@include toaster--base(toast);
			border: 3px solid;
			background: cor(fundo, x-claro);
			padding-left: 1em;
		}

		.toast-close-button {
			@include toaster--base(close);
			border: 1px solid;

		}

		@each $classe, $cor in $tipos-toaster {
			.toast-#{$classe} {
				color: cor-status($cor);

				.toast-close-button {
					color: cor-status($cor);
				}
			}
		}
	}
}

// =============================================================================
// CLASSES | .toast montado
// =============================================================================
@if index($uso-classes, toaster) {
	@if $toaster-biblioteca == toastr {

		#toast-container {
			@include toaster($toaster-tipo);
		}

	}
}
