// =============================================================================
// MIXINS: CLEARFIX
// -----------------------------------------------------------------------------
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// Criado em: 16/02/2017
// -----------------------------------------------------------------------------
// Use no elemento pai de elementos que usem float.
// =============================================================================
@mixin clearfix {
	content: "";
	display: table;
	clear: both;
}
