// =============================================================================
// CONFIG
// =============================================================================
// FRONT-ALEGO | Framework da Assembleia Legislativa do Estado de Goiás
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// Criado em: 20/10/2015
// Última alteração em: 16/02/2016
// -----------------------------------------------------------------------------
// Define as diversas configurações do front-end da Alego.
// Aqui você vai definir os tipos de tabela, formulário e assim por diante, além
// do tema usado das cores. ATENÇÃO: as cores devem ser definidas em outro
// arquivo
// -----------------------------------------------------------------------------
// CHANGELOG
// 16/02/2016 | Mudada variável de sprite formato para arquivo
// 15/02/2016 | Acrescentado sprites
// 10/02/2016 | Acrescentada opção de escolher a transparência do fundo da modal
// 05/02/2016 | Acrescentado arredondamento da borda dos botões baseados na
//               variável $rd em variáveis
// 03/02/2016 | Alterado nome form-field para form-grupo para fazer mais sentido
// 25/01/2016 | Retirado configuração de grid
// 30/11/2015 | Explicação dos tipos está no read-me
// 26/11/2015 | Retirado breakpoints e colocado em arquivo separado
// 23/11/2015 | Alterada a forma dos tipos de nomes específicos para "tipo-x"
// 20/10/2015 | Criação do arquivo e puxada as configurações de demais arquivos
// =============================================================================

// =============================================================================
// USO DE CLASSES
// -----------------------------------------------------------------------------
// Comente as mais usadas.
// Para mais detalhes veja o arquivo read-me/doc.html#config
// =============================================================================
$uso-classes: (
  form-grupo,
  // form-pre,
  form,
  botao,
  botao-secundario,
  autocomplete,
  grid-container,
  tabela,
  tabela-form,
  modal,
  card,
  lista,
  paginacao,
  breadcrumb,
  toaster,
  secao-lista,
  // sprite,
);

// =============================================================================
// TEMA DE CORES
// =============================================================================
$cores-tema: principal;

// =============================================================================
// GRID
// =============================================================================
$grid-qtd: 12;
$grid-margem: rem(10);
$grid-max: rem(1600);

// =============================================================================
// TABELAS
// =============================================================================
$tab-tipo: tipo-1; // 2 tipos
$tab--zebra: sim;
$tab-acao-link-bloco: não;
$tab-col--maximo: 600;
$largura-tabela-col: (
	acoes: 70,
);
$largura-tabela-col-min: (
);
//	Largura máxima
$largura-tabela-col-max: (
);

// =============================================================================
// PAGINAÇÃO
// =============================================================================
$paginacao-tipo: tipo-1; // 2 tipos
$paginacao-posicao: center;
$paginacao-fonte: .65rem;

// =============================================================================
// MODAL
// =============================================================================
$modal-tipo: tipo-1; // 2 tipos
$modal-transparencia: .15; // entre 0 e 1

// =============================================================================
// CARDS
// =============================================================================
$card-tipo: tipo-1; // 2 tipos

// =============================================================================
// BREADCRUMBS
// =============================================================================
$breadcrumbs-tipo: tipo-1; // 2 tipos

// =============================================================================
// TOASTER
// =============================================================================
$toaster-tipo: tipo-1; // 2 tipos
$toaster-horizontal: right;
$toaster-vertical: bottom;
$toaster-distancia: 2em;
$toaster-distancia-vertical: 1;

// =============================================================================
// FORMULÁRIOS
// =============================================================================
$form-tipo: tipo-1; // 3 tipos
$label-tipo: flutuante; // flutuante | colado
$form-radio-check-personaliza: sim;

$botao-tipo: tipo-5; // 6 tipos
$botao-secundario: $botao-tipo; // 6 tipos + $botao-tipo
$botao-sombra-colorida: sim;
$botao-arredondamento: não;
$botoes-status: (
  urgente,
  ok,
  aviso,
);

// =============================================================================
// LISTA
// =============================================================================
$lista-tipo: tipo-1; // 2 tipos
$lista--zebra: não;
$lista--sombra: não;

// =============================================================================
// SEÇÃO LISTA
// =============================================================================
$secao-lista-tipo: tipo-1; // 2 tipos
$secao-lista-titulo: 3;

// =============================================================================
// SPRITES
// =============================================================================
$sprite-arquivo: sprite.png;
$sprite-medida: 150px;
// mapa que cria as classes
// os valores obrigatórios depois do nome é a posição na grid
// existem mais 2 valores opcionais que é aumento de largura e altura
// (respectivamente)
$sprites: (
  exemplo: (1, 1),
);
