// =============================================================================
// CORES | Temas
// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// cores.scss
// Criado em: 07/01/2015
// Última alteração: 03/12/2015
// -----------------------------------------------------------------------------
// Aqui fica os temas de cores. As paletas são definidas no arquivo
// cores_paletas (e é neste arquivo que se acrescenta novas cores)
// JAMAIS coloque uma cor diretamente em outro arquivo e sim chame através da
// função cor(). Isso possibilita mudar o tema rapidamente através deste arquivo
// Para alterar o tema faça isso no arquivo config
// -----------------------------------------------------------------------------
// CHANGELOG:
// 03/12/2015 | Reduzida paleta de paginação para três elementos
// 17/11/2015 | Separado paletas de temas
// 21/10/2015 | Criação dos temas
//  						Criação de grupos de elementos dentro dos temas
// 20/10/2015 | Alterado a forma de trabalhar
// 07/01/2015 | Criado o arquivo
// =============================================================================
//
// =============================================================================
// TEMAS DE COR
// -----------------------------------------------------------------------------
// Cada mapa contém um pacote de cores para texto, fundo e borda.
// Além disso, elementos que tem várias categorias diferentes, tem seu próprio
// grupo (como por exemplo paginação).
// Para o sistema atual, edite o tema $cores-principal.
// Acrescente temas conforme a necessidade. Por exemplo, é possível ter uma
// uma paleta apenas para o natal.
// A cor chamada "padrao" é chamada automaticamente, sem precisar especificar
// na função.
// -----------------------------------------------------------------------------
// Temas disponíveis:
// principal | Tema padrão. Edite essa
// cinza | Tema com tons de cinza
// alto-contraste | Tema de alto contraste para acessibilidade
// bandeira-goiana | Tema com as cores da bandeira goiana
// rosa | Tema para o Outubro Rosa
// azul | Tema para o Novembro Azul
// =============================================================================
$temas: (
	principal: (
		//elementos genéricos
		texto: (
			padrao: paleta-padrao(preto),
			claro: paleta-padrao(branco),
			medio: paleta-padrao(cinza-50),
			destaque: paleta(secundaria),
			titulo: paleta(secundaria),
		),
		fundo: (
			padrao: paleta(basica),
			claro: paleta(basica, clara),
			x-claro: paleta-padrao(branco),
			escuro: paleta(basica, escura),
			sombra: paleta-padrao(preto),
		),
		borda: (
			padrao: paleta(basica),
			variante: paleta(secundaria),
		),
		//elementos específicos
		link: (
			padrao: paleta(basica),
			hover: paleta(basica, clara),
			escuro: paleta(basica, escura),
			escuro-hover: paleta(basica),
		),
		formulario: (
			padrao: paleta(basica, escura),
			placeholder: paleta(basica, clara),
			ativo: paleta(basica, xx-escura),
			fundo: paleta(basica, xx-clara),
		),
		botao: (
			padrao: paleta(secundaria),
			claro: paleta(secundaria, xx-clara),
			escuro: paleta(secundaria, escura),
			secundario: paleta(basica),
			secundario-claro: paleta(basica, xx-clara),
			secundario-escuro: paleta(basica, escura),
		),
		tabela: (
			borda: paleta(basica),
			borda-clara: paleta(basica, clara),
			borda-escura: paleta(basica, escura),
			fundo: paleta(basica, xx-clara),
			titulo: paleta(basica, x-escura),
		),
		lista: (
			padrao: paleta(basica),
			clara: paleta(basica, xx-clara),
			escura: paleta(basica, x-escura),
		),
		modal: (
			fundo: paleta-padrao(branco),
			titulo-fundo: paleta(basica, escura),
			titulo-texto: paleta-padrao(cinza-70),
		),
		paginacao: (
			padrao: paleta(secundaria),
			clara: paleta(secundaria, clara),
			escura: paleta(secundaria, escura),
		),
		breadcrumbs: (
			link: paleta(secundaria, clara),
			atual: paleta(secundaria, escura),
		),
		card: (
			fundo: paleta-padrao(branco),
			borda: paleta(basica),
			titulo: paleta(basica, x-escura),
			destaque: paleta(basica, escura),
		),
		secao-lista: (
			padrao: paleta(basica, escura),
			clara: paleta(basica, xx-clara),
		),
		//elementos do sistema
	),
	cinza: (
		//elementos genéricos
		texto: (
			padrao: paleta-padrao(preto),
			claro: paleta-padrao(branco),
			medio: paleta-padrao(cinza-50),
			destaque: paleta-padrao(cinza-35),
			titulo: paleta-padrao(cinza-55),
		),
		fundo: (
			padrao: paleta-padrao(cinza-50),
			claro: paleta-padrao(cinza-25),
			x-claro: paleta-padrao(branco),
			escuro: paleta-padrao(cinza-85),
			sombra: paleta-padrao(preto),
		),
		borda: (
			padrao: paleta-padrao(cinza-45),
			variante: paleta-padrao(cinza-65),
		),
		//elementos específicos
		link: (
			padrao: paleta-padrao(cinza-60),
			hover: paleta-padrao(cinza-40),
			escuro: paleta-padrao(cinza-70),
			escuro-hover: paleta-padrao(cinza-60),
		),
		formulario: (
			padrao: paleta-padrao(cinza-65),
			placeholder: paleta-padrao(cinza-25),
			ativo: paleta-padrao(cinza-80),
			fundo: paleta-padrao(cinza-15),
		),
		botao: (
			padrao: paleta-padrao(cinza-50),
			claro: paleta-padrao(cinza-35),
			escuro: paleta-padrao(cinza-65),
			secundario: paleta-padrao(cinza-35),
			secundario-claro: paleta-padrao(cinza-15),
			secundario-escuro: paleta-padrao(cinza-50),
		),
		tabela: (
			borda: paleta-padrao(cinza-75),
			borda-clara: paleta-padrao(cinza-50),
			borda-escura: paleta-padrao(preto),
			fundo: paleta-padrao(cinza-5),
			titulo: paleta-padrao(cinza-65),
		),
		lista: (
			padrao: paleta-padrao(cinza-50),
			clara: paleta-padrao(cinza-25),
			escura: paleta-padrao(cinza-85),
		),
		modal: (
			fundo: paleta-padrao(branco),
			titulo-fundo: paleta-padrao(cinza-85),
			titulo-texto: paleta-padrao(cinza-70),
		),
		paginacao: (
			padrao: paleta-padrao(cinza-50),
			clara: paleta-padrao(cinza-25),
			escura: paleta-padrao(cinza-85),
		),
		breadcrumbs: (
			link: paleta(secundaria, clara),
			atual: paleta(secundaria, escura),
		),
		card: (
			fundo: paleta-padrao(branco),
			borda: paleta(basica),
			titulo: paleta(basica, x-escura),
			destaque: paleta(basica, escura),
		),
		secao-lista: (
			padrao: paleta(basica, escura),
			clara: paleta(basica, xx-clara),
		),
		//elementos do sistema
	),
	alto-contraste: (),
	bandeira: (),
	rosa: (),
	azul: (),
);
