//	===========================================================================
// 	CORES
//	===========================================================================
//	Framework da Assembleia Legislativa
//	Autor: Alessandro Guarita
//	---------------------------------------------------------------------------
//	cores.scss
//	Criado em: 07/01/2015
// 	Última alteração: 21/10/2015
//	---------------------------------------------------------------------------
//	Aqui temos a paleta de cores, função para chamá-la e, o mais importante, os
//	mapas com as cores do sistema (e sua função para chamar)
//
//	Acrescente cores à paleta no início deste arquivo, conforme a regra
//	Acrescente elementos do sistema (e use somente eles) através de mapas
//	---------------------------------------------------------------------------
//  CHANGELOG:
// 	07/01/2015 | Criado o arquivo
//  20/10/2015 | Alterado a forma de trabalhar
//  21/10/2015 | Criação dos temas
// 	 						 Criação de grupos de elementos dentro dos temas
//	===========================================================================

//	===========================================================================
//	PALETA DE CORES
//	---------------------------------------------------------------------------
//	Acrescente novas cores para seu sistema aqui
//	Padrão:
//
//	nome-cor: (
//		principal: #000,
//		clara: #000,
//		x-clara: #000,
//		xx-clara: #000,
//		escura: #000,
//		x-escura: #000,
//		xx-escura: #000,
//	),
//	===========================================================================
$paleta: (
	basica: ( //turquesa
		principal: #00c5cd,
		clara: #66dce1,
		x-clara: #99e7e1,
		xx-clara: #ccf3f5,
		escura: #009da4,
		x-escura: #006266,
		xx-escura: #002729,
	),
	secundaria: ( //marrom
		principal: #cd5800,
		clara: #e19b66,
		x-clara: #e7b799,
		xx-clara: #f5decc,
		escura: #a44600,
		x-escura: #662c00,
		xx-escura: #291200,
	),
);
//	===========================================================================
//	TEMAS DE COR
//	---------------------------------------------------------------------------
//	Cada mapa contém um pacote de cores para texto, fundo e borda.
//  Além disso elementos que tem várias categorias diferentes, tem seu próprio
//  grupo (como por exemplo paginação).
// 	Para o sistema atual, edite o tema $cores-principal.
// 	Acrescente temas conforme a necessidade. Por exemplo, é possível ter uma
// 	uma paleta apenas para o Outubro Rosa ($cores-outubro-rosa).
//	---------------------------------------------------------------------------
// 	Temas disponíveis:
// 	$cores-principal | Tema padrão. Edite essa
//  $cores-monocromatico | Utiliza apenas a paleta principal
//  $cores-cinza | Tema com tons de cinza.
//	===========================================================================
$temas: (
	principal: (
		texto: (
			padrao: paleta-padrao(preto),
			claro: paleta-padrao(branco),
			medio: paleta-padrao(cinza-60),
			destaque: paleta(secundaria),
			titulo: paleta(secundaria),
			label: paleta-padrao(preto),
			label-variante: paleta(secundaria),
			input: paleta-padrao(preto),
			placeholder: paleta(basica, x-clara),
		),
		fundo: (
			padrao: paleta(basica),
			claro: paleta(basica, clara),
			x-claro: paleta-padrao(branco),
			escuro: paleta(basica, escura),
			sombra: paleta-padrao(preto),
		),
		borda: (
			padrao: paleta(basica),
			variante: paleta(secundaria),
		),
		link: (
			padrao: paleta(basica),
			hover: paleta(basica, clara),
			escuro: paleta(basica, escura),
			escuro-hover: paleta(basica),
		),
		formulario: (
			padrao: paleta(basica, escura),
			placeholder: paleta(basica, clara),
		),
		tabela: (
			borda: paleta(basica),
			borda-clara: paleta(basica, clara),
			borda-escura: paleta(basica, escura),
			fundo: paleta(basica, xx-clara),
			titulo: paleta(basica, x-escura),
		),
		modal: (
			fundo: paleta-padrao(branco),
			titulo-fundo: paleta(basica, escura),
			titulo-texto: paleta-padrao(cinza-70),
		),
		paginacao: (
			borda: paleta(secundaria),
			borda-clara: paleta(secundaria, clara),
			borda-escura: paleta(secundaria, escura),
			fundo: paleta(secundaria),
			fundo-claro: paleta(secundaria, clara),
			fundo-escuro: paleta(secundaria, escura),
			texto: paleta(secundaria),
			texto-escuro: paleta(secundaria, escura),
		),
		breadcrumbs: (
			link: paleta(secundaria, clara),
			atual: paleta(secundaria, escura),
		),
		card: (
			fundo: paleta-padrao(branco),
			borda: paleta(basica),
			titulo: paleta(basica, x-escura),
			destaque: paleta(basica, escura),
		),
	),
	monocromatico: (),
	cinza: (),
);
