/*
================================================================================
TIPOGRAFIA
================================================================================
*/

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// tipografia.scss
// Criado em: 13/01/2015
// Última alteração em: 28/01/2016
// -----------------------------------------------------------------------------
// Define os elementos básicos da tipografia e usa as variáveis criadas em
// fontes.scss
// -----------------------------------------------------------------------------
// CHANGELOG
// 28/01/2016 | Mixins para substituir os antigos placeholders
// 10/12/2015 | Acrescentado word-wrap no body para evitar que strings muito
// 							longas em algum elemento filho, exceda o limite
// 08/12/2015 | As classes foram movidas para config/classes.scss
// 07/12/2015 | Retirado line-height do <body> pois estava se mostrando
//              problemático
//              Alterações de tags aparece antes dos placeholders
// 04/11/2015 | Eliminada a margem superior para quando o item for o primeiro
// 						  da lista
// 21/10/2015 | Alterado para a nova forma de trabalhar cores
// 13/01/2015 | Criado o arquivo
// =============================================================================

// =============================================================================
// VARIÁVEIS
// -----------------------------------------------------------------------------
// Para uso nas tags e classes abaixo
// =============================================================================
$fonte-titulo: $fonte-serifa;
$margem-bloco-titulo: 1em 0 .5em;
$margem-bloco-texto: 1em 0;

// -----------------------------------------------------------------------------
// Modular scale no bourbon.io
// -----------------------------------------------------------------------------
$modular-scale-ratio: $major-second;
$modular-font-size: 1.2rem;
$tamanho-fonte-textos: modular-scale(-3, $modular-font-size);

// =============================================================================
// MIXINS
// -----------------------------------------------------------------------------
// Para uso nas tags e classes abaixo
// =============================================================================

// -----------------------------------------------------------------------------
// PADRÕES
// -----------------------------------------------------------------------------
// Evite alterar os já existentes com regras novas, pois eles são puxados
// para TODOS os textos ou títulos
// -----------------------------------------------------------------------------
@mixin texto($mod) {
	// TEXTO PADRÃO
	@if $mod == padrao {
		font-size: $tamanho-fonte-textos;
		margin: $margem-bloco-texto;
		line-height: 1.5;
		&:first-child {
			margin-top: 0;
		}
	}
	// TEXTO DO TÍTULO
	@else if $mod == titulo {
		font-family: $fonte-serifa;
		margin: $margem-bloco-titulo;
		color: cor(texto, titulo);
		line-height: 1.2;
		&:first-child {
			margin-top: 0;
		}
	}
}

// -----------------------------------------------------------------------------
// Variações de título
// -----------------------------------------------------------------------------
@mixin titulo($mod) {
	@if $mod == borda {
		border-bottom: 1px solid;
	}
}

// -----------------------------------------------------------------------------
// Variações de link
// -----------------------------------------------------------------------------
@mixin link($mod) {
	// SEM PONTILHADO
	@if $mod == sem-sublinhado {
		text-decoration: none;
		&:hover { text-decoration: underline; }
	}
	// BORDA - USA BORDA NO LUGAR DE SUBLINHADO
	@else if $mod == borda {
		border-bottom: 1px solid paleta-padrao(cinza-30);
		text-decoration: none;
		&:hover {
			color: cor(link);
			border-color: inherit;
		}
	}
	// PONTILHADO - USA BORDA PONTILHADA NO LUGAR DE SUBLINHADO
	@else if $mod == pontilhado {
		border-bottom: 1px dotted paleta-padrao(cinza-30);
		text-decoration: none;
		&:hover {
			color: cor(link, escuro);
			border-color: inherit;
		}
	}
}

// =============================================================================
// ALTERAÇÕES DOS TAGS
// -----------------------------------------------------------------------------
// Alteração básica. Evite alterar demais para que isso não afete em cascata
// É preferível o uso de classes para isso (no final do arquivo)
// =============================================================================
body {
	color: cor(texto);
	font-family: $fonte-sem-serifa;
	word-wrap: break-word;
}
h1 {
	@include texto(titulo);
	font-size: modular-scale(5, $modular-font-size);
}
h2 {
	@include texto(titulo);
	font-size: modular-scale(4, $modular-font-size);
}
h3 {
	@include texto(titulo);
	font-size: modular-scale(3, $modular-font-size);
}
h4 {
	@include texto(titulo);
	font-size: modular-scale(2, $modular-font-size);
}
h5 {
	@include texto(titulo);
	font-size: modular-scale(1, $modular-font-size);
}
h6 {
	@include texto(titulo);
	font-size: modular-scale(0, $modular-font-size);
}
p, ul, ol, dl, table, blockquote, {
	@include texto(padrao);
}
a {
	color: cor(link);
	&:hover {
		color: cor(link, hover);
	}
}
