// =============================================================================
// VARIÁVEIS
// =============================================================================

//	============================================================================
//	Framework da Assembleia Legislativa
//	Autor: Alessandro Guarita
//	----------------------------------------------------------------------------
//	variaveis.scss
//	Criado em: 13/01/2015
//	----------------------------------------------------------------------------
//	Aqui você vai colocar as variáveis relativas ao seu sistema que não se
//	encaixam em outro arquivo.
//	Lembre-se: cores e tipografia tem seu próprio conjunto de variáveis.
//	============================================================================

//	Breakpoints:
//	Ver no arquivo de funções

// Sombras
$sombra-nenhuma: none;
$sombra-padrao: 0 0 3px fade-out(cor($cor-sombra), .3);
$sombra-difusa: 0 0 10px fade-out(cor($cor-sombra), .7);
$sombra-modal: 0 0 40px fade-out(cor($cor-sombra), .9);
$sombra-toaster: 0 0 20px fade-out(cor($cor-sombra), .8);
$sombra-botao: 0 0 6px fade-out(cor($cor-sombra, clara), .5);
$sombra-texto: 1px 1px 0 fade-out(paleta(padroes, preto), .9);

//	Bordas
$borda-nenhuma: none;
$borda-padrao: 1px solid cor($cor-borda);
$borda-variante: 1px solid cor($cor-borda-variante);
$borda-separadora: 2px solid #fff;
$borda-tracejada: 1px dashed cor($cor-borda);

//	Margens
$calha: rem(10);
$margem: $calha;

// Transition
$transition: all 0.5s ease 0s;
