// =============================================================================
// FUNÇÕES: UNIDADES
// -----------------------------------------------------------------------------
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// Criado em: 16/02/2017
// -----------------------------------------------------------------------------
// Funções para alterar a medida de pixels para outra unidade
// Origem: bourbon
// =============================================================================

// =============================================================================
// MODULAR SCALE
// -----------------------------------------------------------------------------
// Retira a unidade do elemento escolhido (base para outras funções)
// =============================================================================
@function strip-units($value) {
  @return ($value / ($value * 0 + 1));
}

// =============================================================================
// PX PARA REM
// =============================================================================
@function rem($pxval) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }

  $base: 16px;
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return ($pxval / $base) * 1rem;
}

// =============================================================================
// PX PARA EM
// =============================================================================
@function em($pxval, $base: 16px) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return ($pxval / $base) * 1em;
}
