@if index($uso-classes, abas) {
/*
================================================================================
ABAS
================================================================================
*/
}

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// abas.scss
// Criado em: 29/03/2016
// Alterado em: 14/07/2016
// -----------------------------------------------------------------------------
// Definições padrão de abas
// -----------------------------------------------------------------------------
// Changelog
// 14/07/2016 | Retirado o tamanho da fonte da aba
// 11/05/2016 | Acréscimo do arquivo das configurações no modo "default" para
//              evitar incompatibilidade no caso de atualizações do config.scss
// 04/05/2016 | Texto da aba agora usa a variável $fonte-titulo ao invés de
//              $fonte-serifa
// 29/03/2016 | Criado o arquivo
// =============================================================================

// =============================================================================
// CONFIG
// =============================================================================
$abas-tipo: tipo-3 !default; // 4 tipos
$abas-qtd: 5 !default;

// =============================================================================
// MIXIN | BÁSICO
// =============================================================================
@mixin abas-basico($tag: basico) {
  // ---------------------------------------------------------------------------
  // DEFINE A RAÍZ
  // ---------------------------------------------------------------------------
  @if $tag == basico {
    &__input {
      display: none;
    }
    @at-root {
      &__conteudo {
        display: none;
      }
    }
  }
  // ---------------------------------------------------------------------------
  // DEFINE A NAVEGAÇÃO
  // ---------------------------------------------------------------------------
  @if $tag == nav {
    &__nav {
      @include display-flex;
      margin-bottom: $margem;
      @content;
    }
  }
  // ---------------------------------------------------------------------------
  // DEFINE O LABEL
  // ---------------------------------------------------------------------------
  @if $tag == label {
    &__aba {
      font-family: $fonte-titulo;
      padding: .5em 1em;
      color: cor(abas, inativa);
      cursor: pointer;
      transition: $transition;
      @content;
    }
  }
  // ---------------------------------------------------------------------------
  // FORMATA O ITEM FOCADO
  // ---------------------------------------------------------------------------
  @if $tag == foco {
    @for $i from 1 through $abas-qtd {
      .aba-#{$i}:checked ~ &__nav .aba-#{$i} {
        @content;
      }
    }
  }
}
// =============================================================================
// MIXIN | TIPOS
// =============================================================================
@mixin abas($tipo) {
  // ---------------------------------------------------------------------------
  // TIPO 1
  // ---------------------------------------------------------------------------
  @if $tipo == tipo-1 {
    @include abas-basico;
    @include abas-basico(nav) {
      background: linear-gradient(to top, transparent 1px, cor(abas, inativa) 1px, transparent 2px);
    }
    @include abas-basico(label) {
      padding-bottom: .25em;
      border-bottom: 3px solid transparent;
      &:hover {
        border-bottom-color: cor(abas, inativa);
      }
    }
    @include abas-basico(foco) {
      color: cor(abas);
      border-color: cor(abas);
    }
  }
  // ---------------------------------------------------------------------------
  // TIPO 2
  // ---------------------------------------------------------------------------
  @if $tipo == tipo-2 {
    @include abas-basico;
    @include abas-basico(nav) {
      background: linear-gradient(to top, cor(abas, fundo-inativo) 3px, transparent 3px);
    }
    @include abas-basico(label) {
      padding-bottom: .25em;
      border-bottom: 3px solid transparent;
      &:hover {
        border-bottom-color: cor(abas, inativa);
      }
    }
    @include abas-basico(foco) {
      color: cor(abas);
      border-color: cor(abas);
    }
  }
  // ---------------------------------------------------------------------------
  // TIPO 3
  // ---------------------------------------------------------------------------
  @if $tipo == tipo-3 {
    @include abas-basico;
    @include abas-basico(nav) {
      border-bottom: 1px solid cor(abas);
      position: relative;
      padding: 0 $calha;
    }
    @include abas-basico(label) {
      border: 1px solid cor(fundo, x-claro);
      background: cor(abas, fundo-inativo);
      border-bottom-color: cor(abas);
      position: relative;
      top: 1px;
      &:hover {
        background: cor(fundo, x-claro);
      }
    }
    @include abas-basico(foco) {
      background: cor(fundo, x-claro);
      border-color: cor(abas) cor(abas) cor(fundo, x-claro);
      border-left-width: 1px;
      color: cor(abas);
    }
  }
  // ---------------------------------------------------------------------------
  // TIPO 4
  // ---------------------------------------------------------------------------
  @if $tipo == tipo-4 {
    @include abas-basico;
    @include abas-basico(nav);
    @include abas-basico(label) {
      border: 1px solid;
      background: cor(abas, fundo-inativo);
      & + label {
        border-left-color: cor(abas, fundo-inativo);
      }
    }
    @include abas-basico(foco) {
      outline: 1px solid;
      background: cor(fundo, x-claro);
      color: cor(abas);
      border-left-color: cor(abas);
      z-index: 1;
    }
  }
}

// =============================================================================
// CLASSE MONTADA
// =============================================================================
@if index($uso-classes, abas) {
  .abas {
    @include abas($abas-tipo);
  }
  // -------------------------------------------------------------------------
  // EXIBE O CONTEÚDO
  // -------------------------------------------------------------------------
  @for $i from 1 through $abas-qtd {
    @at-root {
      .aba-#{$i}:checked ~ .aba-#{$i} {
        display: block;
      }
    }
  }
}
