@if index($uso-classes, breadcrumb) {
/*
================================================================================
BREADCRUMBS
================================================================================
*/
}

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// breadcrumbs.scss
// Criado em: 27/10/2015
// Última alteração em: 23/11/2015
// -----------------------------------------------------------------------------
// Definições padrão de breadcrumbs e classes modelo
// ATENÇÃO: a forma como o breadcrumb é chamado deve ser editado direto na view
// e deve ser:
// <ul class="breadcrumbs">
//     <%= render_breadcrumbs :tag => :li, :separator => "" %>
// </ul>
// -----------------------------------------------------------------------------
// Changelog
// 27/10/2015 | Criado o arquivo
// 17/11/2015 | Utilizada nova forma chamar as classes
// 23/11/2015 | Alterado tipos para "tipo-x" ao invés de um nome diferente
// 							por tipo
// =============================================================================

// =============================================================================
// VARIÁVEIS
// =============================================================================
$breadcrumbs--box__padding: .25em .5em;

// =============================================================================
// PLACEHOLDER | BÁSICO
// =============================================================================
%breadcrumbs-basico {
  @extend %lista-flex;
  font-size: rem(11);
  a {
    color: inherit;
    @extend %link-block;
    &::after {
      content: " > ";
      font-weight: bold;
      margin-left: .2em;
    }
  }
  li {
    color: cor(breadcrumbs, link);
    &:last-child {
      color: cor(breadcrumbs, atual);
      font-weight: bold;
    }
  }
}

// =============================================================================
// PLACEHOLDER | TIPOS
// =============================================================================
%breadcrumbs--tipo-1 {
  @extend %breadcrumbs-basico;
  li {
    padding-left: .2em;
  }
  a {
    &:after {
      margin-right: .2em;
    }
    &:hover {
      border-bottom: 1px dotted;
    }
  }
}

%breadcrumbs--tipo-2 {
  @extend %breadcrumbs-basico;
  li {
    border: 1px solid;
    &:last-child {
      outline: 1px solid;
      padding: $breadcrumbs--box__padding;
    }
    &:not(:last-child) {
      border-right-width: 0;
    }
  }
  a {
    padding: $breadcrumbs--box__padding;
    &:hover {
      background: cor(breadcrumbs, link);
      color: cor(texto, claro);
    }
  }
}

// =============================================================================
// CLASSE MONTADA
// =============================================================================
@if index($uso-classes, breadcrumb) {
  .breadcrumbs {
    @extend %breadcrumbs--#{$breadcrumbs-tipo};
  }
}
