@if index($uso-classes, card) {
/*
================================================================================
CARD
================================================================================
*/
}

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// cards.scss
// Criado em: 23/10/2015
// Última alteração: 23/11/2015
// -----------------------------------------------------------------------------
// Definições padrão de cards e classes modelo
// ATENÇÃO: aqui tem a configuração APENAS do card e não do grupo do elemento
// pai. Caso queira criar um grupo de cards, crie um div pai no seu layout e
// use o mixin grupo-flex()
// -----------------------------------------------------------------------------
// Changelog
// 23/10/2015 | Criado o arquivo
// 03/11/2015 | Classes para os sub-itens. Usando BEM
// 17/11/2015 | Utilizada nova forma chamar as classes
// 23/11/2015 | Alterado tipos para "tipo-x" ao invés de um nome diferente
// 							por tipo
// =============================================================================

// =============================================================================
// VARIÁVEIS
// =============================================================================
$card-padding: 0 $margem;

// =============================================================================
// SUBITENS DO CARD
// -----------------------------------------------------------------------------
// Aqui está cada seção que vai receber uma classe. Ao criar a classe .card
// será criada cada uma das classes sem o seletor aninhado (ex.: .card--titulo)
// =============================================================================
$card-sub: (
  titulo,
  imagem,
  principal,
  item,
  footer,
);

// =============================================================================
// PLACEHOLDERS | Configurações básicas
// =============================================================================
%card--basico {
  @extend %flex;
  @include flex-direction;
  background-color: cor(card, fundo);
  box-shadow: $sombra-card;
  h1, p {
    margin: 0;
    padding: $card-padding;
  }
  &__titulo {
    h1 { font-size: modular-scale(3, $modular-font-size); }
  }
  &__imagem {
    line-height: 0;
  }
  &__principal { // use no main
    @include flex(1);
  }
  &__item {
    padding: $margem/2 0;
    border-top: 1px cor(card, borda);
    &:first-child { border-width: 0; }
  }
  &__footer {
    @extend %flex;
    * {
      @include flex(1);
      + * {
        margin-left: .5em;
      }
    }
  }
}

// =============================================================================
// PLACEHOLDERS | Tipos
// =============================================================================
%card--tipo-1 {
  @extend %card--basico;
  &__titulo {
    background: cor(card, titulo);
  }
  h1 {
    color: cor(texto, claro);
  }
  &__item {
    border-top-style: solid;
  }
  &__footer {
    padding: $margem;
  }
}
%card--tipo-2 {
  @extend %card--basico;
  h1 {
    color: cor(card, titulo);
  }
  &__item {
    border-top-style: dashed;
  }
  &__titulo + &__principal {
    section:first-of-type { border-top-width: 1px; }
  }
}

// =============================================================================
// CLASSES | .card montado
// =============================================================================
@if index($uso-classes, card) {
  .card {
    @extend %card--#{$card-tipo};
    @each $item in $card-sub {
      &__#{$item} {
        @extend %card--basico__#{$item} !optional;
        @extend %card--#{$card-tipo}__#{$item} !optional;
      }
    }
  }
}

// =============================================================================
// CLASSES | Variantes
// =============================================================================
// .card__linha-destaque é aplicado no section e faz com que o <strong> vire uma
// caixa escura.
// dentro dele deve ter um <strong> para o destaque e um <span> para o texto
// -----------------------------------------------------------------------------
@if index($uso-classes, card) {
  .card__item--destaque {
    @extend .card__item;
    padding: 0;
    p {
      @extend %flex;
      padding: 0;
    }
    strong, span { padding: $margem/2 $margem; }
    strong {
      background: cor(card, destaque);
      color: cor(texto, claro);
    }
  }
}
