/*
================================================================================
CLASSES FIXAS
================================================================================
*/

// =============================================================================
// Front-Alego | Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// classes.scss
// Criado em: 21/10/2015
// Alterado em: 19/01/2016
// -----------------------------------------------------------------------------
// Aqui ficam as classes globais do css, que vão aparecer inalteradas pelo
// sistema.
// -----------------------------------------------------------------------------
// Changelog
// 19/01/2016 | Mudada a ordem do placeholder para ficar mais próximo da classe
//              gerada
// 06/01/2016 | Acrescentadas variações de texto e fundo --urgente
// 08/12/2015 | Tiradas classes da tipografia e inseridas aqui
//              Criada classe "pointer"
// 21/10/2015 | Criado o arquivo com as classes básicas
// =============================================================================

.oculta {
  display: none;
}
.pointer {
  cursor: pointer;
}

// =============================================================================
// CORES DE SISTEMA
// =============================================================================
.texto--ok {
	color: cor-status(ok);
}
.texto--erro, .texto--urgente {
	color: cor-status(erro);
}
.texto--alerta {
	color: cor-status(alerta);
}
%texto-status--claro {
  color: cor(texto, claro);
}
.fundo--ok {
	background: cor-status(ok);
	@extend %texto-status--claro;
}
.fundo--erro, .fundo--urgente {
	background: cor-status(erro);
	@extend %texto-status--claro;
}
.fundo--alerta {
	background: cor-status(alerta);
	@extend %texto-status--claro;
}

// =============================================================================
// TIPOGRAFIA
// =============================================================================
.texto--caixa-alta, .texto--uppercase {
	text-transform: uppercase;
}
// -----------------------------------------------------------------------------
// TAMANHO DAS FONTES
// -----------------------------------------------------------------------------
$tamanho-fonte: (
	menor: modular-scale(-1, 1),
	x-menor: modular-scale(-2, 1),
	xx-menor: modular-scale(-3, 1),
	maior: modular-scale(1, 1),
	x-maior: modular-scale(2, 1),
	xx-maior: modular-scale(3, 1),
);

@each $classe, $tamanho in $tamanho-fonte {
	.fonte--#{$classe}, .text--#{$classe} {
		font-size: $tamanho * 1em;
	}
}
