@if index($uso-classes, form) {
/*
================================================================================
FORMULÁRIOS | ELEMENTOS COMUM
================================================================================
*/
}
// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// form_comum.scss
// Criado em: 11/11/2015
// Última alteração em: 18/04/2016
// -----------------------------------------------------------------------------
// Este arquivo contém os elementos comum à todos os formulários, como
// variáveis, placeholders e mixins
// -----------------------------------------------------------------------------
// Changelog
// 18/04/2016 | Ajuste de fundo e texto dos campos do formulário
// 16/03/2016 | Ajuste do ícone que é elemento comum
// 04/02/2016 | Retirado .form__ico do arquivo form_texto e colocado aqui
//              Acrescentado seletor button.form__ico para retirar a borda
//               nesta configuração
// 21/01/2016 | Alterado de placeholder para mixin
// 09/12/2015 | Acréscimo do textarea para expandir
// 17/11/2015 | Utilizada nova forma chamar as classes
//              Incluído elementos "flex" que estavam em "form_tamanhos"
// 11/11/2015 | Criado o arquivo
// =============================================================================

// =============================================================================
// VARIÁVEIS
// =============================================================================
$tamanho-fonte-form: $tamanho-fonte-textos;
$borda-form: 1px cor(formulario);
$borda-form-tipo: if($form-tipo == "tipo-1", dotted, solid);

// =============================================================================
// MIXINS
// =============================================================================
@mixin form-base($flex: null) {
  @include display-flex;
  font-size: $tamanho-fonte-form;
  min-height: 2.25rem;
  position: relative;
  @if $flex != null {
    input, textarea, select {
      @include flex(1);
    }
  }
}
@mixin form__caixa-texto {
  @include appearance(none);
  border-radius: 0;
  font-size: .9em;
  background: transparent;
  color: cor(texto);
  @include placeholder {
    text-transform: uppercase;
    color: cor(formulario, placeholder);
  }
}

// =============================================================================
// CLASSES DOS ELEMENTOS COMUM
// =============================================================================
.form__ico {
  padding: $calha/2 .5em;
  cursor: pointer;
  @if $form-tipo == "tipo-3" {
    background: cor(formulario);
    color: cor(texto, claro);
    &:hover {
      background: cor(formulario, ativo);
    }
  }
  @else {
    color: cor(formulario);
    background: cor(fundo, x-claro);
    border-bottom: $borda-form $borda-form-tipo;
    &:hover {
      background: cor(formulario);
      color: cor(texto, claro);
    }
  }
}
button.form__ico {
  border: 0;
}
