@if index($uso-classes, form) {
/*
================================================================================
FORMULÁRIOS | SELECT
================================================================================
*/
}

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// form_select.scss
// Criado em: 12/11/2015
// Última alteração em: 23/11/2015
// -----------------------------------------------------------------------------
// Este arquivo formata o select
// ----------------------------------------------------------------------------
// Changelog
// 12/11/2015 | Criação do arquivo
// 17/11/2015 | Utilizada nova forma chamar as classes
//              Incluído elementos "flex" que estavam em "form_tamanhos"
// 23/11/2015 | Alterado tipos para "tipo-x" ao invés de um nome diferente
// 							por tipo
// =============================================================================

// =============================================================================
// PLACEHOLDERS | CONTAINER
// =============================================================================
%form-select--basico {
  @extend %form-base--flex;
  select {
    @include appearance(none);
    background: cor(fundo, x-claro);
    border: 0;
    border-radius: 0;
    line-height: 1.6;
    font-size: 1em;
    padding: .25em;
    padding-right: 2em;
  }
}
// =============================================================================
// PLACEHOLDERS | ÍCONE (que substitui a seta)
// =============================================================================
%form-select__seta {
  @extend %form__icone;
  pointer-events: none;
}
// =============================================================================
// PLACEHOLDERS | TIPOS
// =============================================================================
%form-select--tipo-1 {
  select {
    border-bottom: $borda-form dotted;
  }
  %form-select__seta {
    color: cor(formulario);
  }
}
%form-select--tipo-2 {
  select {
    border-bottom: $borda-form solid;
  }
  %form-select__seta {
    color: cor(formulario);
  }
}
%form-select--tipo-3 {
  select {
    border: $borda-form solid;
    padding-left: .2em;
  }
  %form-select__seta {
    color: cor(formulario, ativo);
    background: cor(formulario, fundo);
    border: $borda-form solid;
  }
}
// =============================================================================
// CLASSES
// =============================================================================
@if index($uso-classes, form) {
  .form-select {
    @extend %form-select--basico;
    @extend %form-select--#{$form-tipo};
    [class^="ico"] {
      @extend %form-select__seta;
    }
  }
}
