/*
================================================================================
FORMULÁRIO | BOTÕES
================================================================================
*/

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// form_botoes.scss
// Criado em: 15/01/2015
// Última alteração em: 13/11/2015
// -----------------------------------------------------------------------------
// Definições de botões para formulários
// ----------------------------------------------------------------------------
// Changelog
// 15/01/2015 | Criação do arquivo
// 13/11/2015 | Arquivo reescrito usando os novos padrões
// =============================================================================

$botao-usa: sim;
$botao-status-usa: sim; // sim | não
$botao-tipo: simples; // simples | claro | escuro
$botao-variacao: variante; // basico | variante
$botao-secundario: simples; // simples | claro | escuro
$botao-secundario-variacao: basico; // basico | variante
$sombra-colorida: sim; // sim | não

// =============================================================================
// VARIÁVEIS
// =============================================================================
$bt-basico: #{$botao-tipo}--#{$botao-variacao};
$bt-secundario: #{$botao-secundario}--#{$botao-secundario-variacao};
$bt-sombra: if($sombra-colorida == "sim", 0 0 6px, $sombra-botao);

// =============================================================================
// PLACEHOLDERS | BASE
// =============================================================================
%bt-base {
  text-transform: uppercase;
  padding: .5em .75em;
  font-weight: bold;
  font-size: .9rem;
  cursor: pointer;
  color: cor(botao);
}
%bt-base--secundario {
  color: cor(botao, secundario);
}
// =============================================================================
// PLACEHOLDERS | TIPO SIMPLES
// =============================================================================
%bt-simples {
  @extend %bt-base;
  background: cor(fundo, x-claro);
  &:hover {
    box-shadow: $bt-sombra;
  }
  &--basico {
    @extend %bt-simples;
    border: 0;
  }
  &--variante {
    @extend %bt-simples;
    border: 1px solid;
    &:hover {
      outline: 1px solid;
    }
  }
}
%bt-simples--secundario {
  @extend %bt-simples;
  @extend %bt-base--secundario;
}
// =============================================================================
// PLACEHOLDERS | TIPO CLARO
// =============================================================================
%bt-claro {
  @extend %bt-base;
  border: 1px solid;
  &--basico {
    background: cor(botao, claro);
  }
  &--variante {
    /*bla*/
  }
}
%bt-claro--secundario {
  @extend %bt-claro;
  @extend %bt-claro--secundario;
  &--basico {
    /*bla*/
  }
  &--variante {

    /*bla*/
  }
}
// =============================================================================
// PLACEHOLDERS | TIPO ESCURO
// =============================================================================
%bt-escuro {
  @extend %bt-base;
  &--basico {

  }
  &--variante {

  }
}
// =============================================================================
// CLASSE
// =============================================================================
@if $botao-usa == "sim" {
  .bt {
    @extend %bt-#{$bt-basico};
  }
  .bt--secundario {
    @if $bt-secundario == $bt-basico {
      @extend %bt-#{$bt-basico};
      @extend %bt-#{$botao-secundario}--secundario;
    } @else {
      @extend %bt-#{$bt-secundario};
    }
  }
  @if $botao-status-usa == "sim" {

  }
}
