@if index($uso-classes, autocomplete) {
/*
================================================================================
FORMULÁRIOS | AUTOCOMPLETE
================================================================================
*/
}
// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// form_input_texto.scss
// Criado em: 17/11/2015
// -----------------------------------------------------------------------------
//	Definições padrão do autocomplete (elemento RAILS/jquery-ui)
// ----------------------------------------------------------------------------
// Changelog
// 17/11/2015 | Criação do arquivo
// =============================================================================

// =============================================================================
// VARIÁVEIS
// =============================================================================

// =============================================================================
// MIXIN | BASE
// =============================================================================
@mixin autocomplete-base {
  @extend %lista-sem-marcador;
  position: absolute !important;
  box-shadow: $sombra-difusa;
}
@mixin autocomplete-base-li {
  padding: .25em .5em;
  cursor: pointer;
  background: cor(fundo, x-claro);
  color: cor(texto, medio);
  font-size: .85em;
  &:hover {
    color: cor(texto);
  }
  &:last-child {
    border-bottom: 0;
  }
}
// =============================================================================
// PLACEHOLDER | TIPOS
// =============================================================================
%autocomplete--pontilhado {
  @include autocomplete-base;
  border-bottom: 1px dotted cor(formulario);
  li {
    @include autocomplete-base-li;
    border-bottom: 1px dotted tint(cor(formulario, placeholder), 20%);
  }
}
%autocomplete--linha {
  @include autocomplete-base;
  border-bottom: 1px solid cor(formulario);
  li {
    @include autocomplete-base-li;
    border-bottom: 1px solid tint(cor(formulario, placeholder), 20%);
  }
}
%autocomplete--caixa {
  @include autocomplete-base;
  border: 1px solid cor(formulario);
  border-top-width: 0;
  li {
    @include autocomplete-base-li;
    border-bottom: 1px solid cor(formulario, placeholder);
    &:hover {
      background: cor(formulario, placeholder);
    }
  }
}
// =============================================================================
// CLASSE
// =============================================================================
@if index($uso-classes, autocomplete) {
  .ui-autocomplete {
    @extend %autocomplete--#{$form-tipo};
  }
  .ui-helper-hidden-accessible {
  	display: none !important;
  }
}
