/*
================================================================================
FORMULÁRIOS | INPUT[TEXT], TEXTAREA
================================================================================
*/

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// form_input_texto.scss
// Criado em: 09/11/2015
// -----------------------------------------------------------------------------
// Este arquivo formata os inputs de texto e sua relação com o label, e demais
// elementos (placeholder, etc).
// ----------------------------------------------------------------------------
// Changelog
// 09/11/2015 | Criação do arquivo
// 10/11/2015 | Alterada forma de pensar. Ao invés de ser "automático" (com
//              placeholder/mixin, criei uma classe própria pra melhorar a
//              performance do CSS final)
// =============================================================================

// =============================================================================
// PLACEHOLDERS | CONTAINER
// =============================================================================
%form-texto--basico {
  @extend %form-base;
}

// =============================================================================
// PLACEHOLDERS | LABEL
// =============================================================================
%form-texto__label {
  font-weight: bold;
  @include order(-1);
  cursor: pointer;
  color: cor(formulario);
}
%form-texto__label--flutuante {
  @include flex-wrap;
  label {
    @extend %form-texto__label;
    width: 100%;
  }
}
%form-texto__label--colado {
  @include align-items(stretch);
  label {
    @extend %form-texto__label;
    padding: 0 .65em;
  }
}

// =============================================================================
// PLACEHOLDER | INPUT, TEXTAREA
// =============================================================================
%form-texto__input {
  input, textarea {
    font-size: .9em;
    @include placeholder {
      text-transform: uppercase;
      color: cor(formulario, placeholder);
    }
  }
}

// =============================================================================
// MIXIN | INPUT, TEXTAREA
// =============================================================================
@mixin field-texto__field--borda-inferior(
    $tipo,
    $cor: cor(formulario),
    $cor-destaque: cor(formulario, ativo)
  ) {
  @if $label-tipo == "colado" {
    label {
      border-bottom: 1px $tipo $cor;
    }
  }
  input, textarea {
    border: 0;
    border-bottom: 1px $tipo $cor;
    &:focus {
      border-bottom-color: $cor-destaque;
      @if $label-tipo == "colado" {
        & ~ label {
          color: $cor-destaque;
          border-bottom-color: $cor-destaque;
        }
      }
    }
  }
}

// =============================================================================
// PLACEHOLDERS | TIPOS
// =============================================================================
%form-texto--pontilhado {
  @include field-texto__field--borda-inferior(dotted);
}
%form-texto--linha {
  @include field-texto__field--borda-inferior(solid);
}
%form-texto--caixa {
  input, textarea {
    border: 1px solid cor(formulario);
    padding: .5em;
    &:focus {
      outline: 0;
      box-shadow: 0 0 3px cor(formulario);
    }
    @if $label-tipo == "colado" {
      &:focus ~ label {
        background: cor(formulario, ativo);
      }
    }
  }
  @if $label-tipo == "colado" {
    label {
      background: cor(formulario);
      color: cor(texto, claro);
      line-height: 2.2;
    }
  }
}

// =============================================================================
// CLASSES
// =============================================================================
@if $form-texto-usa == "sim" {
  .form-texto {
    @extend %form-texto--basico;
    @extend %form-texto--#{$form-tipo};
    @extend %form-texto__label--#{$label-tipo};
    @extend %form-texto__input;
  }
  .form-texto--label-inverso {
    /* pensar num nome melhor */
  }
}
