@if index($uso-classes, form) {
/*
================================================================================
FORMULÁRIOS | INPUT[TEXT], TEXTAREA
================================================================================
*/
}

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// form_input_texto.scss
// Criado em: 09/11/2015
// Última alteração em: 22/01/2016
// -----------------------------------------------------------------------------
// Este arquivo formata os inputs de texto e sua relação com o label, e demais
// elementos (placeholder, etc).
// Inputs similares ao de texto também fazem uso dessa classe (exemplos:
// data, e-mail, etc)
// ----------------------------------------------------------------------------
// Changelog
// 22/01/2016 | Retirado placeholder para mixin
// 23/11/2015 | Alterado tipos para "tipo-x" ao invés de um nome diferente
// 							por tipo
// 17/11/2015 | Utilizada nova forma chamar as classes
//              Agrupados arquivos similares como o de data e busca)
//              Incluído elementos "flex" que estavam em "form_tamanhos"
// 10/11/2015 | Alterada forma de pensar. Ao invés de ser "automático" (com
//              placeholder/mixin, criei uma classe própria pra melhorar a
//              performance do CSS final)
// 09/11/2015 | Criação do arquivo
// =============================================================================

// =============================================================================
// PLACEHOLDERS | CONTAINER
// =============================================================================
%form-texto--basico {
  @include form-base(flex);
}

// =============================================================================
// PLACEHOLDERS | LABEL
// =============================================================================
@mixin form-texto__label--basico {
  @include order(-1);
  font-weight: bold;
  cursor: pointer;
  color: cor(formulario);
}
@mixin form-texto__label($tipo) {
  @if $tipo == flutuante {
    @include flex-wrap;
    label {
      @include form-texto__label--basico;
      width: 100%;
    }
  }
  @else if $tipo == colado {
    @include align-items(stretch);
    label {
      @include form-texto__label--basico;
      padding: 0 .65em;
    }
  }
}

// =============================================================================
// MIXIN | INPUT, TEXTAREA
// =============================================================================
@mixin field-texto__field--borda-inferior(
    $tipo,
    $cor: cor(formulario),
    $cor-destaque: cor(formulario, ativo)
  ) {
  @if $label-tipo == "colado" {
    label {
      border-bottom: 1px $tipo $cor;
    }
  }
  input, textarea {
    @include form__caixa-texto;
    border: 0;
    border-bottom: 1px $tipo $cor;
    &:focus {
      border-bottom-color: $cor-destaque;
      @if $label-tipo == "colado" {
        & ~ label {
          color: $cor-destaque;
          border-bottom-color: $cor-destaque;
        }
      }
    }
  }
}

// =============================================================================
// PLACEHOLDERS | TIPOS
// =============================================================================
@mixin form-texto($tipo) {
  @include form-base(flex);
  // ---------------------------------------------------------------------------
  // TIPO 1
  // ---------------------------------------------------------------------------
  @if $tipo == tipo-1 {
    @include field-texto__field--borda-inferior(dotted);
  }
  // ---------------------------------------------------------------------------
  // TIPO 2
  // ---------------------------------------------------------------------------
  @else if $tipo == tipo-2 {
    @include field-texto__field--borda-inferior(solid);
  }
  // ---------------------------------------------------------------------------
  // TIPO 3
  // ---------------------------------------------------------------------------
  @else if $tipo == tipo-3 {
    input, textarea {
      @include form__caixa-texto;
      border: 1px solid cor(formulario);
      padding: .5em;
      &:focus {
        outline: 0;
        box-shadow: 0 0 3px cor(formulario);
      }
      @if $label-tipo == "colado" {
        &:focus ~ label {
          background: cor(formulario, ativo);
        }
      }
    }
    @if $label-tipo == "colado" {
      label {
        background: cor(formulario);
        color: cor(texto, claro);
        line-height: 2.2;
      }
    }
  }
}

// =============================================================================
// CLASSES
// =============================================================================
@if index($uso-classes, form) {
  .form-texto {
    @include form-texto($form-tipo);
    @include form-texto__label($label-tipo);
  }
  .form__ico {
    @include form__botao-colado;
  }
  .form-texto--label-inverso {
    /* pensar num nome melhor */
  }
}
