@if index($uso-classes, form) {
/*
================================================================================
FORMULÁRIOS | RADIO BUTTON, CHECKBOX
================================================================================
*/
}

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// form_radio_check.scss
// Criado em: 11/11/2015
// Última alteração em: 04/02/2016
// -----------------------------------------------------------------------------
// Este arquivo formata os radio buttons
// ----------------------------------------------------------------------------
// Changelog
// 04/02/2016 | Mudado alinhamento do checkbox/radio
// 21/01/2016 | Alterado placeholder para mixin
// 23/11/2015 | Alterado tipos para "tipo-x" ao invés de um nome diferente
// 							por tipo
// 17/11/2015 | Utilizada nova forma chamar as classes
// 11/11/2015 | Criação do arquivo
// =============================================================================

// =============================================================================
// MIXIN | CONTAINER
// =============================================================================
@mixin form-radio-check--basico($tag: basico) {
  // ---------------------------------------------------------------------------
  // RAÍZ
  // ---------------------------------------------------------------------------
  @if $tag == basico {
    @include form-base;
  }
  // ---------------------------------------------------------------------------
  // LABEL
  // ---------------------------------------------------------------------------
  @else if $tag == label {
    @if $form-radio-check-personaliza == "não" {
      input + & {
        margin-left: -1.5em;
        padding-left: 2em;
      }
    }
    @if $form-radio-check-personaliza == "sim" {
      @include display-flex;
      @include align-self(flex-end);
      &::before {
        font-family: $fonte-simbolo;
        width: 1em;
        height: 1em;
        margin-right: .5em;
        border: $borda-form solid;
        background: cor(fundo, x-claro);
        // para centralizar o conteúdo
        color: transparent;
        content: "\f111";
        font-size: .6em;
        padding: .2em;
        line-height: .9;
        text-align: center;
      }
    }
    @include flex-grow(1);
    input:checked ~ & {
      font-weight: bold;
      color: cor(formulario, ativo);
    }
  }
  // ---------------------------------------------------------------------------
  // INPUT
  // ---------------------------------------------------------------------------
  @else if $tag == input {
    @if $form-radio-check-personaliza == "sim" {
      display: none;
      &:checked ~ label {
        &::before {
          border-color: cor(formulario, ativo);
          color: cor(formulario, ativo);
        }
      }
    }
  }
}

// =============================================================================
// MIXIN | RADIO BUTTON
// =============================================================================
@mixin form-radio($var: $form-radio-check-personaliza) {
  @if $var == "sim" {
    label {
      &::before {
        border-radius: 50%;
      }
    }
  }
}

// =============================================================================
// MIXIN | CHECKBOX
// =============================================================================
@mixin form-checkbox($var: $form-radio-check-personaliza) {
  @if $var == "sim" {
    input:checked ~ label::before {
      content: "\e354";
    }
  }
}

// =============================================================================
// MIXIN | TIPOS
// =============================================================================
@mixin form-radio-check($tipo) {
  @include form-radio-check--basico;
  input { @include form-radio-check--basico(input); }
  // ---------------------------------------------------------------------------
  // TIPO 1
  // ---------------------------------------------------------------------------
  @if $tipo == tipo-1 {
    label {
      @include form-radio-check--basico(label);
      border-bottom: $borda-form dotted;
    }
  }
  // ---------------------------------------------------------------------------
  // TIPO 2
  // ---------------------------------------------------------------------------
  @else if $tipo == tipo-2 {
    label {
      @include form-radio-check--basico(label);
      border-bottom: $borda-form solid;
    }
  }
  // ---------------------------------------------------------------------------
  // TIPO 3
  // ---------------------------------------------------------------------------
  @else if $tipo == tipo-3 {
    label {
      @include form-radio-check--basico(label);
      border: $borda-form solid;
      &::before {
        margin-left: .4em;
      }
    }
    input:checked ~ label {
      background: cor(formulario, fundo);
    }
  }
}

// =============================================================================
// CLASSES
// =============================================================================
@if index($uso-classes, form) {
/*
--------------------------------------------------------------------------------
RADIO BUTTON
--------------------------------------------------------------------------------
*/
  .form-radio {
    @include form-radio-check($form-tipo);
    @include form-radio;
  }
/*
--------------------------------------------------------------------------------
CHECKBOX
--------------------------------------------------------------------------------
*/
  .form-checkbox {
    @include form-radio-check($form-tipo);
    @include form-checkbox;
  }
}
