/*
================================================================================
FORMULÁRIOS | ELEMENTOS COMUM
================================================================================
*/
// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// form_comum.scss
// Criado em: 11/11/2015
// -----------------------------------------------------------------------------
// Este arquivo contém os elementos comum à todos os formulários, como
// variáveis, placeholders e mixins
// -----------------------------------------------------------------------------
// Changelog
// 11/11/2015 | Criado o arquivo
// =============================================================================

$form-tipo: caixa;
$label-tipo: colado;
$form-radio-check-personaliza: sim;

// =============================================================================
// VARIÁVEIS
// =============================================================================
$tamanho-fonte-form: $tamanho-fonte-textos;
$borda-form: 1px cor(formulario);

// =============================================================================
// PLACEHOLDERS
// =============================================================================
%form-base {
  font-size: $tamanho-fonte-form;
}
