/*
================================================================================
FORMULÁRIOS | ELEMENTOS COMUM
================================================================================
*/
// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// form_comum.scss
// Criado em: 11/11/2015
// -----------------------------------------------------------------------------
// Este arquivo contém os elementos comum à todos os formulários, como
// variáveis, placeholders e mixins
// -----------------------------------------------------------------------------
// Changelog
// 11/11/2015 | Criado o arquivo
// =============================================================================

$form-tipo: linha;
$label-tipo: colado;
$form-radio-check-personaliza: sim;

// =============================================================================
// VARIÁVEIS
// =============================================================================
$tamanho-fonte-form: $tamanho-fonte-textos;
$borda-form: 1px cor(formulario);

// =============================================================================
// PLACEHOLDERS
// =============================================================================
%form-base {
  font-size: $tamanho-fonte-form;
  min-height: 2.25rem;
  position: relative;
}
%form__caixa-texto {
  @include appearance(none);
  border-radius: 0;
  font-size: .9em;
  @include placeholder {
    text-transform: uppercase;
    color: cor(formulario, placeholder);
  }
}
%form__icone {
  position: absolute;
  right: calc(#{$calha} / 2);
  height: calc(100% - #{$calha}); // subtrai o padding do container
  padding: $calha/4 .5em;
}
%form__botao-colado {
  @extend %form__icone;
  cursor: pointer;
  @if $form-tipo == "caixa" {
    background: cor(formulario);
    color: cor(texto, claro);
    &:hover {
      background: cor(formulario, ativo);
    }
  }
  @else {
    color: cor(formulario);
    background: cor(fundo, x-claro);
    height: calc(100% - #{$calha} - 1px); // retira a borda
    &:hover {
      background: cor(formulario);
      color: cor(texto, claro);
    }
  }
}
