/*
================================================================================
PAGINAÇÃO
================================================================================
*/

//	============================================================================
//	Framework da Assembleia Legislativa
//	Autor: Alessandro Guarita
//	----------------------------------------------------------------------------
//	paginacao.scss
//	Criado em: 07/04/2015
// 	Última alteração: 20/10/2015
//	----------------------------------------------------------------------------
//	Definição da paginação. Formata o tipo padrão gerado pelo Rails.
//	----------------------------------------------------------------------------
// 	Changelog
// 	07/04/2015 | Criação do básico para trabalhar
// 	21/08/2015 | Colocado dentro do padrão. Usando Flexbox
// 	20/10/2015 | Inclusão de arquivo separado para o sistema
// 							 Configurações básicas transferidas para base/config.scss
//	============================================================================

//	============================================================================
// 	VARIÁVEIS
//	============================================================================
$paginacao-padding: ($paginacao-fonte * .4) ($paginacao-fonte * 1);

//	============================================================================
// 	PLACEHOLDERS
//	----------------------------------------------------------------------------
// 	O tipo a ser usado. Mude na variável $paginacao-tipo, acima
//	============================================================================
%paginacao--basica {
	%paginacao-item {
		border-bottom: 2px solid transparent;
	}
	%paginacao-elemento-ativo {
		border-bottom-color: cor(paginacao, borda);
	}
	.current {
		box-shadow: $sombra-botao;
	}
	a {
		&:hover {
			@extend %paginacao-elemento-ativo;
		}
	}
}

%paginacao--box {
	$borda-paginacao: 1px solid cor(paginacao, borda-clara);
	%paginacao-item {
		border-top: $borda-paginacao;
		border-bottom: $borda-paginacao;
	}
	%paginacao-elemento-ativo {
		outline: 2px solid cor(paginacao, borda-escura);
		box-shadow: 0 0 8px cor(fundo, sombra);
	}
	%paginacao-voltar {
		border-left: $borda-paginacao;
	}
	%paginacao-avancar {
		border-right: $borda-paginacao;
	}
	.prev {
		border-right: $borda-paginacao;
	}
	.next {
		border-left: $borda-paginacao;
	}
	.gap {
		border-left: $borda-paginacao;
		border-right: $borda-paginacao;
	}
	a {
		&:hover {
			background: cor(paginacao, fundo-escuro);
			color: cor(texto, claro);
		}
	}
}

//	Placeholders para sub-elementos.
//	---------------------------------------------------------------------------
%paginacao-item {
	color: cor(paginacao, texto);
	background: lighten(cor(paginacao, fundo-claro), 70%);
}
%paginacao-elemento-ativo {
	font-weight: bold;
}
%paginacao-navegar {
	font-size: .95em;
}
%paginacao-voltar {
	@extend %paginacao-navegar;
}
%paginacao-avancar {
	@extend %paginacao-navegar;
}

//	============================================================================
// 	CLASSES MONTADAS
//	============================================================================
@if $paginacao-usa == "sim" {
	.pagination {
		@extend %paginacao--#{$paginacao-tipo};
		@extend %flex;
		@include justify-content($paginacao-posicao);
		@include align-items(flex-end);
		font-size: $paginacao-fonte;
		padding: .5rem 0;
		.gap {
			@extend %paginacao-item;
			padding: $paginacao-padding;
			color: cor(paginacao, texto-escuro);
		}
		.prev, .first {
			@extend %paginacao-voltar;
		}
		.next, .last {
			@extend %paginacao-avancar;
		}
		a {
			@extend %paginacao-item;
			@extend %link-block;
			color: cor(paginacao, texto);
			padding: $paginacao-padding;
		}
		.current{
			@extend %paginacao-item;
			@extend %paginacao-elemento-ativo;
			z-index: 2;
			padding: $paginacao-padding;
		}
	}
} @else {
	/* Nada para ver aqui, bro */
}
