/*
================================================================================
PLACEHOLDERS
================================================================================
*/

//	============================================================================
//	Front-Alego | Framework da Assembleia Legislativa
//	Autor: Alessandro Guarita
//	----------------------------------------------------------------------------
//	placeholders.scss
//	Criado em: 10/02/2015
//	Última alteração em: 14/10/2015
//	----------------------------------------------------------------------------
//	Aqui ficam os placeholders (classes que se usam dentro de seletores) globais
//	que serão utilizados em todo o framework.
// 	Ao acrescentar algum aqui, evite utilizar de código aninhado, pois estamos
// 	configurando extends bem genéricos.
//	----------------------------------------------------------------------------
// 	Changelog
// 	10/02/2015 | Criado o arquivo com os placeholders básicos
// 	14/10/2015 | Placeholder para centralizar o elemento na tela
//	============================================================================

//	============================================================================
//	FLEXBOX
//	----------------------------------------------------------------------------
//	Use no elemento pai
//	============================================================================
%flex {
	@include display-flex;
}
%flex-total {
	@extend %flex;
	width: 100%;
}

//	============================================================================
//	CLEARFIX
//	----------------------------------------------------------------------------
//	Use no elemento pai de elementos que usem float.
//	============================================================================
%clearfix {
	content: "";
	display: table;
	clear: both;
}

//	============================================================================
//	LISTAS
//	============================================================================
%lista-sem-marcador {
	list-style: none;
	padding-left: 0;
}
%lista-flex {
	@extend %lista-sem-marcador;
	@extend %flex;
}

//	============================================================================
//	LINKS CAIXAS
//	----------------------------------------------------------------------------
// 	Use para fazer o link "caber" no elemento pai. Claro que ele deve estar
// 	sozinho. Normalmente seria algo como:
// 	li > a { @extend %link-block; }
//	============================================================================
%link-block {
	display: block;
	text-decoration: none;
}

//	============================================================================
//	CENTRALIZA ELEMENTO NA TELA
//	============================================================================
%centraliza-caixa {
	@include centraliza-caixa;
}


//	===========================================================================
//	PLACEHOLDERS DO SISTEMA
//	---------------------------------------------------------------------------
//	Placeholders do sistema devem ser postos no arquivo abaixo (ou no próprio
//  arquivo do layout, conforme o caso).
// 	Se perceber que determinado placeholder é útil para outros sistemas, crie e
// 	requisite a inclusão dele no front-alego
//	===========================================================================
@import "../extra/placeholders";
