@if index($uso-classes, secao-lista) {
/*
================================================================================
SEÇÃO LISTA | Exibe e oculta conteúdo, mostrando título em forma de lista
================================================================================
*/
}

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// form_radio_check.scss
// Criado em: 18/11/2015
// Última alteração: 27/01/2016
// -----------------------------------------------------------------------------
// Bloco de conteúdo que pode ser exibido e ocultado, deixando apenas o título,
// com uma seta indicativa.
// Não faz uso de javascript e sim de label para funcionar.
// Se estiver checado, não exibe conteúdo.
// -----------------------------------------------------------------------------
// Changelog
// 27/01/2016 | Mudado placeholders para mixins
// 16/12/2015 | Incluído transition na seta
// 08/12/2015 | Tirado o extend para o placeholder %icone, que não existe mais
// 23/11/2015 | Mudado nomes de secao-bloco para secao-lista
//              Alterado tipos para "tipo-x" ao invés de um nome diferente
// 							por tipo
// 20/11/2015 | Inclusão de mixin para fazer o abre e fecha
// 18/11/2015 | Criação do arquivo
// =============================================================================


// =============================================================================
// MIXIN | BÁSICO
// =============================================================================
@mixin secao-lista--basico($tag: basico) {
  // ---------------------------------------------------------------------------
  // BÁSICO
  // ---------------------------------------------------------------------------
  @if $tag == basico {
    border: 1px solid cor(secao-lista);
    & + & {
      margin-top: 1px;
    }
    &__check {
      @include lista-oculta(secao-lista__conteudo);
      &:checked ~  {
        .secao-lista__header .secao-lista__icone {
          transform: rotate(-90deg);
        }
      }
    }
  }
  // ---------------------------------------------------------------------------
  // HEADER
  // ---------------------------------------------------------------------------
  @else if $tag == header {
    padding: $margem/2 $margem;
    font-size: modular-scale($secao-lista-titulo, $modular-font-size);
    font-family: $fonte-serifa;
    background: cor(secao-lista, clara);
    color: cor(secao-lista);
    label {
      @include display-flex;
      cursor: pointer;
    }
  }
  // ---------------------------------------------------------------------------
  // TÍTULO
  // ---------------------------------------------------------------------------
  @else if $tag == titulo {
    @include flex(1);
  }
  // ---------------------------------------------------------------------------
  // ÍCONES
  // ---------------------------------------------------------------------------
  @else if $tag == icone {
    display: block;
    font-family: $fonte-simbolo;
    transition: $transition;
    &::before {
      content: "\f107";
    }
  }
  // ---------------------------------------------------------------------------
  // CONTEÚDO
  // ---------------------------------------------------------------------------
  @else if $tag == conteudo {
    padding: $margem;
    border-top: 1px dashed cor(secao-lista);
  }
}

// =============================================================================
// MIXIN | TIPOS
// =============================================================================
@mixin secao-lista($tipo) {
  @include secao-lista--basico;
  // ---------------------------------------------------------------------------
  // TIPO 1
  // ---------------------------------------------------------------------------
  @if $tipo == tipo-1 {
    &__header {
      @include secao-lista--basico(header);
      background: cor(secao-lista);
      color: cor(texto, claro);
    }
    &__titulo {
      @include secao-lista--basico(titulo);
    }
    &__icone {
      @include secao-lista--basico(icone);
    }
    &__conteudo {
      @include secao-lista--basico(conteudo);
    }
  }
  // ---------------------------------------------------------------------------
  // TIPO 2
  // ---------------------------------------------------------------------------
  @if $tipo == tipo-2 {
    &__header {
      @include secao-lista--basico(header);
    }
    &__titulo {
      @include secao-lista--basico(titulo);
    }
    &__icone {
      @include secao-lista--basico(icone);
    }
    &__conteudo {
      @include secao-lista--basico(conteudo);
    }
  }
}
// =============================================================================
// CLASSE MONTADA
// =============================================================================
@if index($uso-classes, secao-lista) {
  .secao-lista {
    @include secao-lista($secao-lista-tipo);
  }
}
