@if index($uso-classes, secao-lista) {
/*
================================================================================
SEÇÃO LISTA | Exibe e oculta conteúdo, mostrando título em forma de lista
================================================================================
*/
}

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// form_radio_check.scss
// Criado em: 18/11/2015
// Última alteração: 23/11/2015
// -----------------------------------------------------------------------------
// Bloco de conteúdo que pode ser exibido e ocultado, deixando apenas o título,
// com uma seta indicativa.
// Não faz uso de javascript e sim de label para funcionar.
// Se estiver checado, não exibe conteúdo.
// -----------------------------------------------------------------------------
// Changelog
// 23/11/2015 | Mudado nomes de secao-bloco para secao-lista
//              Alterado tipos para "tipo-x" ao invés de um nome diferente
// 							por tipo
// 20/11/2015 | Inclusão de mixin para fazer o abre e fecha
// 18/11/2015 | Criação do arquivo
// =============================================================================


// =============================================================================
// PLACEHOLDER | BÁSICO
// =============================================================================
%secao-lista {
  border: 1px solid cor(secao-lista);
  &__header {
    padding: $margem/2 $margem;
    font-size: modular-scale($secao-lista-titulo, $modular-font-size);
    font-family: $fonte-serifa;
    label {
      @extend %flex;
      cursor: pointer;
    }
  }
  &__titulo {
    @include flex(1);
  }
  &__icone {
    @extend %icone;
    display: block;
    &::before {
      content: "\f107";
    }
  }
  &__conteudo {
    padding: $margem;
  }
  & + & {
    margin-top: 1px;
  }
}
// =============================================================================
// PLACEHOLDER | FUNÇÃO DE ABRIR E FECHAR
// =============================================================================
%secao-lista__check {
  @include lista-oculta(secao-lista__conteudo);
  &:checked ~  {
    .secao-lista__header .secao-lista__icone {
      transform: rotate(-90deg);
    }
  }
}

// =============================================================================
// PLACEHOLDER | TIPOS
// =============================================================================
%secao-lista--tipo-1 {
  @extend %secao-lista !optional;
  &__header {
    @extend %secao-lista__header !optional;
    background: cor(secao-lista);
    color: cor(texto, claro);
  }
  &__icone {
    @extend %secao-lista__icone !optional;
  }
  &__conteudo {
    @extend %secao-lista__conteudo !optional;
  }
}
%secao-lista--tipo-2 {
  @extend %secao-lista !optional;
  &__header {
    @extend %secao-lista__header !optional;
  }
  &__icone {
    @extend %secao-lista__icone !optional;
  }
  &__conteudo {
    @extend %secao-lista__conteudo !optional;
  }
}
// =============================================================================
// CLASSE MONTADA
// =============================================================================
@if index($uso-classes, secao-lista) {
  .secao-lista {
    @extend %secao-lista--#{$secao-lista-tipo} !optional;
    &__header {
      @extend %secao-lista--#{$secao-lista-tipo}__header !optional;
      background: cor(secao-lista, clara);
      color: cor(secao-lista);
    }
    &__titulo {
      @extend %secao-lista__titulo;
    }
    &__icone {
      @extend %secao-lista--#{$secao-lista-tipo}__icone !optional;
    }
    &__conteudo {
      @extend %secao-lista--#{$secao-lista-tipo}__conteudo !optional;
      border-top: 1px dashed cor(secao-lista);
    }
  }
  .secao-lista__check {
    @extend %secao-lista__check;
  }
}
