/*
================================================================================
TABELAS
================================================================================
*/

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// tabelas.scss
// Criado em: 05/02/2015
// Última alteração: 04/05/2016
// -----------------------------------------------------------------------------
// Definições padrão das tabelas e classes modelo
// -----------------------------------------------------------------------------
// Changelog
// 04/05/2016 | Título agora utiliza a $fonte-titulo ao invés de $fonte-serifa
// 18/04/2016 | Alteração para o novo esquema de cores
// 27/01/2016 | Alterado placeholder para mixin
// 07/01/2016 | Retirado "thead" do seletor "thead th". Agora é todos os <th>
// 							terão a mesma configuração básica, esteja no cabeçalho da tabela
// 							ou na primeira coluna
// 08/12/2015 | Retirada variável de borda
// 23/11/2015 | Alterado tipos para "tipo-x" ao invés de um nome diferente
// 							por tipo
// 17/11/2015 | Utilizada nova forma chamar as classes
// 04/11/2015 | Adaptado para o uso de BEM.
// 						 .tab-col--nome passou a ser apenas .col--nome
// 21/10/2015 | Adequado ao esquema de temas
// 20/10/2015 | Inclusão de tabelas do sistema
// 						  Configurações básicas transferidas para base/config.scss
// 16/10/2015 | Ajustes na tabela de formulário
// 15/10/2015 | Definição de link em bloco
// 15/09/2015 | Alterações estruturais, acréscimos de classes,
// 						  placeholder para a largura da coluna, uso de variáveis para
// 						  definições. Uso de uma classe de tabela, além de extensões
// 05/02/2015 | Criada a base do arquivo
// =============================================================================
//
// =============================================================================
// DEFINIÇÕES PADRÃO DE TABELA
// -----------------------------------------------------------------------------
// Definições básicas
// =============================================================================

table {
	width: 100%;
}
th {
	font-family: $fonte-titulo;
	text-align: left;
	font-size: em(15, 14);
}
tr {
	color: cor(texto);
	tbody & {
		background: cor(fundo, x-claro);
	}
}
th {
	padding: .25em .45em;
	text-transform: uppercase;
}
td {
	line-height: 1;
	padding: .5em;
	font-size: em(12, 14);
}

// =============================================================================
// MIXIN | BÁSICO
// =============================================================================
@mixin tab--opcoes($tag) {
	// ---------------------------------------------------------------------------
	// ZEBRA
	// ---------------------------------------------------------------------------
	@if $tag == zebra {
		tbody tr:nth-child(even) {
			background: cor(tabela, fundo);
			.tab__acoes {
				background: desaturate(cor(tabela, fundo), 15%);
			}
		}
	}
	// ---------------------------------------------------------------------------
	// FORM
	// ---------------------------------------------------------------------------
	@else if $tag == form {
		tbody tr:nth-child(even) {
			background: #fff;
		}
		td {
			padding: 0 .25em;
			border-left: 2px solid cor(tabela, borda-clara);
			&:last-child {
				border-right: 2px solid cor(tabela, borda-clara);
			}
		}
		input:not([type="checkbox"]):not([type="radio"]),
		textarea,
		select {
			@include placeholder {
				color: cor(tabela, borda-clara);
				text-transform: uppercase;
			}
			border: 0;
			background: #fff;
			width: 100%;
			padding: .25em;
			font-family: $fonte-sem-serifa;
			font-size: rem(14);
			&:hover, &:focus {
				border-color: cor(tabela, borda-escura);
				box-shadow: $sombra-padrao;
			}
		}
	}
}

// =============================================================================
// MIXIN | TIPOS DE TABELA
// =============================================================================
@mixin tab($tipo) {
	// ---------------------------------------------------------------------------
	// TIPO 1
	// ---------------------------------------------------------------------------
	@if $tipo == tipo-1 {
		thead tr {
			color: cor(texto, claro);
			background: cor(tabela, titulo);
			border-bottom: 2px solid cor(tabela, borda-clara);
		}
		tbody tr {
			border-bottom: 1px solid cor(tabela, borda-clara);
			&:nth-child(odd) {
				color: cor(texto, medio);
			}
		}
		.tab__acoes {
			background: lighten(cor(tabela, fundo), 5%);
		}
	}
	// ---------------------------------------------------------------------------
	// TIPO 2
	// ---------------------------------------------------------------------------
	@else if $tipo == tipo-2 {
		border-bottom: 2px solid cor(tabela, borda);
		thead tr {
			color: cor(tabela, titulo);
			border-bottom: 2px solid cor(tabela, borda);
		}
		tbody tr {
			border-bottom: 1px dashed cor(tabela, borda);
			&:last-of-type {
				border-bottom: none;
			}
		}
		.tab__acoes {
			background: cor(tabela, fundo);
			border-left: 2px solid cor(tabela, borda);
		}
	}
}

// =============================================================================
// CLASSES MONTADAS
// =============================================================================
@if index($uso-classes, tabela) {
	.tab {
		@include tab($tab-tipo);
		@if $tab--zebra == "sim" {
			@include tab--opcoes(zebra);
		}
	}
	@if index($uso-classes, tabela-form) {
		.tab--form {
			@extend .tab;
			@include tab--opcoes(form);
		}
	}
}

// =============================================================================
// CLASSES INTERNAS
// =============================================================================
// Mixins
// -----------------------------------------------------------------------------
@mixin tab-acoes-icone($bloco: $tab-acao-link-bloco) {
	color: darken(cor(tabela, titulo), 5%);
	@if $bloco == sim {
		display: inline-block;
		padding: .5em;
		&:hover {
			color: cor(texto, clara);
			background: darken(cor(tabela, titulo), 5%);
		}
		@at-root {
			.tab__acoes {
				padding: 0;
			}
		}
	}
	@else if $bloco == não {
		margin-left: .5em;
		margin-right: .5em;
		&:hover {
			color: darken(cor(tabela, titulo), 25%);
		}
		@at-root {
			.tab__acoes {
				button {
					padding: 0;
				}
			}
		}
	}
}
@if index($uso-classes, tabela) {
	//	Título da coluna de ações
	.col--acoes {

	}
	//	Célula de ação
	.tab__acoes {
		a {
			@include tab-acoes-icone;
			text-decoration: none;
		}
		button {
			@include tab-acoes-icone;
			background: transparent;
			border: none;
			cursor: pointer;
			line-height: 1;
		}
	}
}

// =============================================================================
// TAMANHOS DE COLUNAS
// -----------------------------------------------------------------------------
// A função a seguir cria uma série de extends para usar com largura de
// colunas. Crie os nomes de classes com a base .tab-col--[nome-classe],
// exemplo: .tab-col--usuario
// =============================================================================
$tab-col--inicial: 10;
$tab-col--incremento: 1;
$i: $tab-col--inicial;
@while $i <= $tab-col--maximo {
	%largura-col-#{$i} {
		width: $i * rem(1);
	}
	%largura-col-min-#{$i} {
		min-width: $i * rem(1);
	}
	%largura-col-max-#{$i} {
		max-width: $i * rem(1);
	}
	$i: $i + $tab-col--incremento;
}

@each $col, $medida in $largura-tabela-col {
	.col--#{$col} {
		@extend %largura-col-#{$medida};
	}
}
@each $col, $medida in $largura-tabela-col-min {
	.col--#{$col} {
		@extend %largura-col-min-#{$medida};
	}
}
@each $col, $medida in $largura-tabela-col-max {
	.col--#{$col} {
		@extend %largura-col-max-#{$medida};
	}
}
