@if index($uso-classes, tela-mensagem) {
/*
================================================================================
TELAS DE MENSAGENS
================================================================================
*/
}
// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// tela_menagem.scss
// Criado em: 18/05/2016
// -----------------------------------------------------------------------------
// Definições de telas de avisos/mensagens (como tela de permissão, erro 404)
// -----------------------------------------------------------------------------
// Changelog
// 18/05/2016 | Criado o arquivo
// =============================================================================

// =============================================================================
// CONFIG
// =============================================================================
$tela-mensagem--tipo: tipo-1 !default; // 2 tipos

// =============================================================================
// MIXINS
// =============================================================================

// -----------------------------------------------------------------------------
// MIXIN BÁSICO
// -----------------------------------------------------------------------------
@mixin tela-mensagem--base($tag: "basico") {
  // ---------------------------------------------------------------------------
  // básico
  // ---------------------------------------------------------------------------
  @if $tag == basico {
    width: 100vw;
    height: 100vh;
    @content;
  }
  // ---------------------------------------------------------------------------
  // janela
  // ---------------------------------------------------------------------------
  @else if $tag == janela {
    &__janela {
      @include centraliza-caixa;
      text-align: center;
      @content;
    }
  }
}
// -----------------------------------------------------------------------------
// MIXIN TIPOS
// -----------------------------------------------------------------------------
@mixin tela-mensagem($tipo) {
  // ---------------------------------------------------------------------------
  // tipo 1
  // ---------------------------------------------------------------------------
  @if $tipo == tipo-1 {
    @include tela-mensagem--base {
      background: cor(fundo, escuro);
    }
    @include tela-mensagem--base(janela) {
      color: cor(texto, claro);
    }
  }
  // ---------------------------------------------------------------------------
  // tipo 2
  // ---------------------------------------------------------------------------
  @if $tipo == tipo-2 {
    @include tela-mensagem--base {
      background: cor(fundo, x-claro);
    }
    @include tela-mensagem--base(janela) {
      color: cor(texto, destaque);
    }
  }
}

// =============================================================================
// CLASSE
// =============================================================================
@if index($uso-classes, tela-mensagem) {
  .tela-mensagem {
    @include tela-mensagem($tela-mensagem--tipo);
  }
}
