@if index($uso-classes, toaster) {
/*
================================================================================
TOASTER
================================================================================
*/
}

// =============================================================================
// Framework da Assembleia Legislativa
// Autor: Alessandro Guarita
// -----------------------------------------------------------------------------
// toaster.scss
// Criado em: 20/03/2015
// Última alteração em: 17/11/2015
// -----------------------------------------------------------------------------
// Notificações do sistema. Aparecendo de baixo.
// -----------------------------------------------------------------------------
// Changelog
// 20/03/2015 | Criado o arquivo
// 04/11/2015 | Alteração para os novos padrões.
// 						  Opção de escolha entre dois modelos.
// 05/11/2015 | Incluído fundo branco no toaster de linha
// 17/11/2015 | Utilizada nova forma chamar as classes
// =============================================================================

// =============================================================================
// CORES TOASTER
// -----------------------------------------------------------------------------
// Lista as cores do status
// =============================================================================
$tipos-toaster: (
	success: sucesso,
	error: erro,
	alert: alerta,
	info: notice,
);

// =============================================================================
// PLACEHOLDERS | Tipos
// =============================================================================
%toaster {
	@extend %lista-sem-marcador;
	position: fixed;
	margin: 0;
	width: rem(300);
	#{$toaster-horizontal}: $toaster-distancia;
	#{$toaster-vertical}: $toaster-distancia * $toaster-distancia-vertical;
	z-index: z(toaster);
	li {
		position: relative;
		padding: 1.5em;
		font-family: $fonte-sem-serifa;
		text-align: center;
		box-shadow: $sombra-toaster;
		line-height: 1;
		@if $toaster-vertical == "top" {
			margin-bottom: $toaster-distancia * .75;
		} @else if $toaster-vertical == "bottom" {
			margin-top: $toaster-distancia * .75;
		}
	}
	.close {
		transition: $transition;
		cursor: pointer;
		position: absolute;
		right: 1em;
		top: -.8em;
		display: block;
		box-shadow: $sombra-toaster;
		background: cor(fundo, x-claro);
		font-weight: bold;
		font-size: 1.2em;
		line-height: 1;
	}
}

%toaster--fundo {
	@extend %toaster;
	li {
		color: cor(texto, claro);
		text-shadow: $sombra-texto;
	}
	.close {
		border: 0;
	}
}
%toaster--linha {
	@extend %toaster;
	li {
		border: 3px solid;
		background: cor(fundo, x-claro);
	}
	.close {
		border: 1px solid;
	}
}
// =============================================================================
// CLASSES | cores de toast
// =============================================================================
@if index($uso-classes, toaster) {
  @each $status, $classe in $tipos-toaster {
		%toaster {
  		.#{$status} {
  			.close {
  				color: cor-status($classe);
  				&:hover {
  					background: cor-status(#{$classe}-escuro);
						color: cor(texto, claro);
  				}
  			}
  		}
		}
		%toaster--fundo {
			.#{$status} {
				background: cor-status($classe);
			}
		}
		%toaster--linha {
			.#{$status} {
				color: cor-status(#{$classe}-escuro);
			}
		}
  }
}

// =============================================================================
// CLASSES | .toast montado
// =============================================================================
@if index($uso-classes, toaster) {
  .toast {
		@extend %toaster--#{$toaster-tipo};
  }
}
